/* == Оформление шаблонов вики == */
/* === Инфобокс === */
.portable-infobox {
	border-radius:10px;
    padding:4px;
    border:1px solid var(--theme-accent-color);
}

.wds-tabs__tab:hover {
	color:var(--theme-link-color--hover);
}

.portable-infobox .wds-tabs__wrapper > ul.wds-tabs li {
    margin:auto;
}

h2.pi-item.pi-item-spacing.pi-title.pi-secondary-background, 
h2.pi-item.pi-header.pi-secondary-font.pi-item-spacing.pi-secondary-background {
    border-radius:10px;
    background:linear-gradient(90deg, var(--mp-header-color-left) 0%, var(--mp-header-color-right) 90%);
    color:white;
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
}

.pi-image img {
    border-radius:10px;
    margin:3px 0;
    border:1px solid var(--theme-accent-color);
    transition:transform 0.3s ease;
}

.pi-image img:hover {
    transform:scale(1.05);
}

/* === Навбокс === */
.navbox {
    color:#fff;
    background:var(--theme-accent-color);
    text-align:center;
    border:2px solid var(--theme-accent-color);
    padding:2px;
    vertical-align:top;
    border-top-left-radius:0.6em;
    border-top-right-radius:0.6em;
}

body.skin-fandomdesktop {
    --jida-color:#2E8B57;
    --vamps-color:#B7234D;
    --dmns-color:#3F2562;
    --hvn-color:#F0E68C;
    --series-color:#5A293D;
    --creatures-color:#A52A2A;
    --chapters-color:#2E5A49;
    --policy-color:#6E7B8B;
}

/* ==== Навбокс/Персонажи ==== */
.navbox-jida {
    width:100%;
    margin-top:1em;
    border-radius:10px;
    padding:2px;
    border:1px solid var(--jida-color);
    background-color:var(--pi-background);
    font-size:90%;
    text-align:center;
}

.navbox-jida-title {
    background-color:var(--jida-color);
    color:#fff;
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    padding:0.2em 0.5em;
    border-radius:10px;
}

.navbox-jida-label {
    background:var(--jida-color);
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    border-radius:10px;
    padding:10px;
    font-weight:bold;
}

.navbox-jida-data {
    border-radius:10px;
}

.navbox-vamps {
    width:100%;
    margin-top:1em;
    border-radius:10px;
    padding:2px;
    border:1px solid var(--vamps-color);
    background-color:var(--pi-background);
    font-size:90%;
    text-align:center;
}

.navbox-vamps-title {
    background-color:var(--vamps-color);
    color:#fff;
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    padding:0.2em 0.5em;
    border-radius:10px;
}

.navbox-vamps-label {
    background:var(--vamps-color);
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    border-radius:10px;
    padding:10px;
    font-weight:bold;
}

.navbox-vamps-data {
    border-radius:10px;
}

.navbox-dmns {
    width:100%;
    margin-top:1em;
    border-radius:10px;
    padding:2px;
    border:1px solid var(--dmns-color);
    background-color:var(--pi-background);
    font-size:90%;
    text-align:center;
}

.navbox-dmns-title {
    background-color:var(--dmns-color);
    color:#fff;
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    padding:0.2em 0.5em;
    border-radius:10px;
}

.navbox-dmns-label {
    background:var(--dmns-color);
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    border-radius:10px;
    padding:10px;
    font-weight:bold;
}

.navbox-dmns-data {
    border-radius:10px;
}

.navbox-hvn {
    width:100%;
    margin-top:1em;
    border-radius:10px;
    padding:2px;
    border:1px solid var(--hvn-color);
    background-color:var(--pi-background);
    font-size:90%;
    text-align:center;
}

.navbox-hvn-title {
    background-color:var(--hvn-color);
    color:#000;
    padding:0.2em 0.5em;
    border-radius:10px;
}

.navbox-hvn-label {
    background:var(--hvn-color);
    color:#000;
    border-radius:10px;
    padding:10px;
    font-weight:bold;
}

.navbox-hvn-data {
    border-radius:10px;
}

/* ==== Навбокс/Серии ==== */
.navbox-series {
    width:100%;
    margin-top:1em;
    border-radius:10px;
    padding:2px;
    border:1px solid var(--series-color);
    background-color:var(--pi-background);
    font-size:90%;
    text-align:center;
}

.navbox-series-title {
    background-color:var(--series-color);
    color:#fff;
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    padding:0.2em 0.5em;
    border-radius:10px;
}

.navbox-series-label {
    background:var(--series-color);
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    border-radius:10px;
    padding:10px;
    font-weight:bold;
}

.navbox-series-data {
    border-radius:10px;
}

/* ==== Навбокс/Существа ==== */
.navbox-creatures {
    width:100%;
    margin-top:1em;
    border-radius:10px;
    padding:2px;
    border:1px solid var(--creatures-color);
    background-color:var(--pi-background);
    font-size:90%;
    text-align:center;
}

.navbox-creatures-title {
    background-color:var(--creatures-color);
    color:#fff;
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    padding:0.2em 0.5em;
    border-radius:10px;
}

.navbox-creatures-label {
    background:var(--creatures-color);
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    border-radius:10px;
    padding:10px;
    font-weight:bold;
}

.navbox-creatures-data {
    border-radius:10px;
}

/* ==== Навбокс/Главы ==== */
.navbox-chapters {
    width:100%;
    margin-top:1em;
    border-radius:10px;
    padding:2px;
    border:1px solid var(--chapters-color);
    background-color:var(--pi-background);
    font-size:90%;
    text-align:center;
}

.navbox-chapters-title {
    background-color:var(--chapters-color);
    color:#fff;
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    padding:0.2em 0.5em;
    border-radius:10px;
}

.navbox-chapters-label {
    background:var(--chapters-color);
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    border-radius:10px;
    padding:10px;
    font-weight:bold;
    width:25%;
}

.navbox-chapters-data {
    border-radius:10px;
}

/* ==== Навбокс/Политика ==== */
.navbox-policy {
    width:100%;
    margin-top:1em;
    border-radius:10px;
    padding:2px;
    border:1px solid var(--policy-color);
    background-color:var(--pi-background);
    font-size:90%;
    text-align:center;
}

.navbox-policy-title {
    background-color:var(--policy-color);
    color:#fff;
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    padding:0.2em 0.5em;
    border-radius:10px;
}

.navbox-policy-label {
    background:var(--policy-color);
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    border-radius:10px;
    padding:10px;
    font-weight:bold;
}

.navbox-policy-data {
    border-radius:10px;
}

/* === Виджет Дискорда === */
.discord-widget-container {
    height:auto;
    width:auto;
    margin-right:0;
}

.discord-widget .widget-header {
    background-color:var(--theme-accent-color) !important;
    color:#fff;
    font-size:120%;
    font-weight:600;
}

.discord-widget .widget-body {
    display:none;
}

.theme-fandomdesktop-light .discord-widget .widget-theme-auto .widget-btn-connect, .discord-widget .widget-btn-connect {
    color:#fff;
    border:none;
    background-color:var(--theme-accent-color);
    font-size:110%;
}

.discord-widget .widget-footer .widget-footer-info {
	font-size:110%;
}

/* ==== Галерея (а код от навбоксов) ==== */
.navbox-gallery {
    width:100%;
    margin-top:1em;
    border-radius:10px;
    padding:2px;
    border:1px solid var(--theme-accent-color);
    background-color:var(--pi-background);
    font-size:90%;
    text-align:center;
}

.navbox-gallery-title {
    background-color:var(--theme-accent-color);
    color:#fff;
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    padding:0.2em 0.5em;
    border-radius:10px;
}

.navbox-gallery-label {
    background:var(--theme-accent-color);
    text-shadow:2px 2px 4px rgba(0,0,0,0.2);
    border-radius:10px;
    padding:10px;
    font-weight:bold;
}

.navbox-gallery-data {
    border-radius:10px;
}

/* === Шаблон:Табы === */
.tab:hover {
    background-color:var(--theme-page-background-color--secondary);
}

/* === Плашки (взято с английской Pokemon Wiki) === */
.mbox {
    --type-important:rgba(200, 0, 0, 0.8);
    --type-moderate:rgba(233, 124, 47, 0.8);
    --type-minor:rgba(241, 197, 37, 0.8);
    display:flex;
    position:relative;
    background-color:rgba(255, 255, 255, 0.7);
    border:1px solid #d6d6d6;
    border-left-width:8px;
    border-left-color:#d6d6d6;
    border-radius:3px;
    margin:0 0.3em;
    min-height:32px;
}

.mbox.mbox-type-important {
    border-left-color:var(--type-important);
}

.mbox.mbox-type-moderate {
    border-left-color:var(--type-moderate);
}

.mbox.mbox-type-minor {
    border-left-color:var(--type-minor);
}

.mbox__content {
    display:table;
    box-sizing:border-box;
    width:100%;
    padding:8px 15px;
}

.mbox__content__image {
    display:table-cell;
    width:40px;
    height:100%;
    text-align:center;
    vertical-align:middle;
    padding-right:15px;
}

.mbox__content__wrapper {
    display:table-cell;
    vertical-align:middle;
}

.mbox__content__header {
    display:block;
    font-weight:bold;
}

.mbox__content__text {
    display:block;
}

.mbox__content__text__comment {
    font-size:small;
}

.mbox__content__aside {
    display:table-cell;
    width:100px;
    vertical-align:middle;
    text-align:center;
    padding-left:15px;
    border-left:1px solid #d6d6d6;
}

.mbox__close {
    position:absolute;
    right:0;
    top:0;
    padding:2px 7px;
    font-weight:bold;
    font-size:16px;
    color:#bbb;
    cursor:pointer;
    transition:all .15s ease-in;
}

.mbox__close:hover {
    color:#777;
}

.mbox__close:after {
    content:'×';
}

.mw-collapsed + .mbox__close {
    transform:rotate(45deg);
    padding:8px 7px 8px 2px;
}

.theme-fandomdesktop-dark .mbox {
    background-color:var(--theme-page-background-color--secondary);
    border-color:var(--theme-border-color);
}
