/* == Імпорти == */
/* === Highlight: Підсвічування учасників з глобальними статусами === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:Highlight.css&only=styles";

/* === MinimalScrollbar: Модернізує смугу прокрутки === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:MinimalScrollbar.css&only=styles";

/* === ExpandingInfoboxes: Розширює інфобокси завширшки === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:ExpandingInfoboxes.css&only=styles";

/* === InterlanguageFlags: Додає прапори у інтервіки === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:InterlanguageFlags.css&only=styles";

/* === SolarizedSyntaxHighlight: Додає підсвічування синтаксисам у статтях === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:SolarizedSyntaxHighlight.css&only=styles";

/* === Nord: Оформлення коду === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:Nord.css&only=styles";

/* === Antiborder: Видаляє рамки у дефолтних блоках === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:Antiborder.css&only=styles";

/* === AdaptiveProfile: Оформлення профайлу === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:AdaptiveProfile.css&only=styles";
@import url("/ru/load.php?mode=articles&only=styles&articles=MediaWiki:RightColors.css");

/* === BalancedBloglists: Покращує дизайн блогів === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:BalancedBloglists.css&only=styles";

/* === LocalNavExploreIcons: Додає іконки до меню «Исследовать» локальної навігації вікі === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:LocalNavExploreIcons.css&only=styles";

/* === Fanimp: Покращує деякі моменти у стилях Фендома === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:Fanimp.css&only=styles";

/* === SpoilerBlur: Скрипт на замазування тексту === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:SpoilerBlur.css&only=styles";
/* ==== Використання: ==== */
/* ===== <span class="spoilerblur">Текст, який треба замазати</span> ===== */

/* == Оформлення вікі == */
/* === Тінь від тексту на обкладинці вікі щоб його було видно на фоні вікі (взято з англовікі) === */
.main-container .fandom-community-header__community-name-wrapper,
.main-container .page-counter,
.main-container .fandom-community-header__local-navigation .wds-tabs__tab-label{
    filter: drop-shadow(0px 0px 2px var(--theme-accent-color))
    		drop-shadow(0px 0px 2px var(--theme-accent-color))
    		drop-shadow(0px 0px 2px var(--theme-accent-color));
}
.main-container .fandom-community-header__image {
	filter: drop-shadow(0px 0px 1px var(--theme-accent-color))
			drop-shadow(0px 0px 1px var(--theme-accent-color))
			drop-shadow(0px 0px 1px var(--theme-accent-color));
}
.wiki-tools {
	background-color: rgba(var(--theme-accent-color--rgb),.4);
}

/* === Видалення іконок === */
/* ==== Нещодавня вікі-діяльність, рейка ==== */
.rail-module__header .wds-icon {
    display: none;
}

/* ==== Зміст, стаття ==== */
.toc .toctitle h2 .wds-icon + .wds-icon {
  display: none;
}

/* ==== Нові зображення, рейка ==== */
.rail-module h2.has-icon svg {
	display: none;
}

/* === Ключовий візуал (взято з англовікі) === */
.key-visual {
	border-radius: 5px;
	margin-bottom: -12px;
}

.theme-fandomdesktop-light .key-visual {
	border: 2px solid #F5F5F5;
}

.theme-fandomdesktop-dark .key-visual {
	border: 2px solid #1F2430;
}

/* === Навігація по документації (взято з англовікі) === */
.documentation-nav-header {
	color: var(--theme-page-text-color);
	text-align: center;
	font-size: 1em;
	padding: 5px;
	border-radius: 5px;
}

.theme-fandomdesktop-light .documentation-nav-header {
	background-color: #F5F5F5;
}

.theme-fandomdesktop-dark .documentation-nav-header {
	background-color: #1F2430;
}

/* === Відображення таблиці (взято з англовікі) === */
.display-table {
	border-radius: 5px;
	border-spacing: 3px;
	width: 100%;
	text-align: center;
	margin-bottom: 12px;
}

.display-table-side {
	border-radius: 5px;
	border-spacing: 3px;
	width: 290px;
	text-align: center;
	margin-bottom: 12px;
}

.theme-fandomdesktop-light .display-table {
	border: 2px solid #F5F5F5;
}

.theme-fandomdesktop-dark .display-table {
	border: 2px solid #1F2430;
}

/* === Правильне використання (взято з англовікі) === */
.correct {
	color: #317E2A;
}

.correct a {
	color: #317E2A;
}

.incorrect {
	color: #932015;
}

.incorrect a {
	color: #932015;
}

/* === Для головної === */
/* ==== Переведення таббів у таббері до центру (взято з англовікі) ==== */
.centered-tabs .wds-tabs {
    justify-content: center;
}

.centered-tabs .wds-tab__content.wds-is-current {
    padding: 24px;
}

/* ==== Релізи (взято з англовікі) ==== */
.anime-thumbnail {
	border-radius: 5px;
	margin-bottom: 12px;
}

.theme-fandomdesktop-light .anime-thumbnail {
	border: 2px solid #F5F5F5;
}

.theme-fandomdesktop-dark .anime-thumbnail {
	border: 2px solid #1F2430;
}

/* ==== Форматування таблиць (взято з англовікі) ==== */
/* ===== Заголовки ===== */
.box-header {
	background-color: var(--theme-accent-color);
	text-align: center;
	color: white;
	font-size: 1.5em;
	padding: 5px;
	border-radius: 5px;
}

/* ==== Кнопка головної сторінки (взято з англовікі) ==== */
.main-page-button-wrapper {
	display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    text-align: center;
}

.main-page-button :hover {
	background-color: var(--theme-accent-color--hover);
	font-weight: 400;
	transition: 0.4s;
}

.main-page-button a {
	background-color: var(--theme-accent-color);
	border-radius: 5px;
	display: inline-block;
	font-size: 1em;
	padding: 8px;
	min-width:180px;
	color: white;
	text-decoration: none;
}

/* ==== Приховує категорії на головній сторінці ==== */
.mainpage .article-categories, .mainpage .page-footer__categories {
    display: none;
}

/* === Кордон === */
:root .theme-fandomdesktop-dark {
    --theme-table-accent-color: #1f2430;
}

:root .theme-fandomdesktop-light {
    --theme-table-accent-color: #F5F5F5;
}

/* === Колір нумерації рядків коду при перегляді поза редактором коду === */
.mw-content-ltr.mw-highlight-lines pre, .mw-content-ltr.content .mw-highlight-lines pre {
	padding-left: 3.5em;
	box-shadow: inset 2.75em 0 0 #2e3440;
}

/* === Скролбар (полоса прокрутки. Изменённый скрипт BalancedScrollbar) === */
::-webkit-scrollbar {
  width: 10px !important;
}

/* ==== Firefox ==== */
:root {
  scrollbar-width: thin;
}

/* == Повідомлення == */
.mbox {
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #d6d6d6;
    border-left-width: 8px;
    border-left-color: #d6d6d6;
    border-radius: 3px;
    margin-bottom: 5px;
    min-height: 32px;
}

.mbox__content {
    display: table;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 15px;
}

.mbox__content__image {
    display: table-cell;
    width: 40px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-right: 15px;
}

.mbox__content__wrapper {
    display: table-cell;
    vertical-align: middle;
}

.mbox__content__header {
    display: block;
    font-weight: bold;
}

.mbox__content__text {
    display: block;
}

.mbox__content__text__comment {
    font-size: small;
}

.mbox__content__aside {
    display: table-cell;
    width: 100px;
    vertical-align: middle;
    text-align: center;
    padding: 0 15px;
    border-left: 1px solid #d6d6d6;
}

.mbox__close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 7px;
    font-weight: bold;
    font-size: 16px;
    color: #bbb;
    cursor: pointer;
    transition: all .15s ease-in;
}

.mbox__close:hover {
    color: #777;
}

.mbox__close:after {
    content: '×';
}

.mw-collapsed + .mbox__close {
    transform: rotate(45deg);
    padding: 4px 7px 5px 2px;
}

/* == Статті == */
/* === Інфобокс === */
.portable-infobox {
	border-color:var(--theme-table-accent-color);
	border-radius:5px;
	border-width:2px;
	padding: 2px 2px 0 2px;
	width: 285px;
}

.portable-infobox .pi-item {
	border-radius:3px;
}

.page-content .portable-infobox h2 {
	margin-bottom: 2px;
}

.portable-infobox .pi-data {
	background:var(--theme-table-accent-color);
	border-top-width: 0px;
	margin-bottom: 2px;
}

.portable-infobox .wds-tabs {
	width: 100%;
	background-color:var(--theme-table-accent-color);
	border-radius: 3px;
}

.page-content .portable-infobox .wds-tabs {
	margin-bottom: 2px;
}

.portable-infobox .pi-image {
	margin-bottom: 2px;
}

/* === Стаб (взято з англовікі) === */
.stub {
	border-color: #FCDB88;
	background-color: rgba(252, 220, 141, 0.1);
}

/* == Для учасників == */
/* === HIHRAIM === */
/* ==== Кольоровий нік ==== */
a[href$="/HIHRAIM"],
a[href$=":HIHRAIM"] {
    color: #ed575a;
}

/* ==== Коментарі ==== */
a[href$=":HIHRAIM"] ~ .EntityHeader_middot__39-65:before {
    content: "Адміністратор";
    background: #ed575a;
    padding: 3px;
    border-radius: 5px;
    margin-left:4px;
    font-size: 12px;
    color: #ffffff;
}

/* ==== Банер у профайлі ==== */
[class*=HIHRAIM].skin-fandomdesktop #userProfileApp {
	--banner-ratio: 35%;
	--banner-image: url('https://c.tenor.com/2B3r0f7Vvg4AAAAd/україна.gif');
	--banner-bg-pos: center;
}

/* ==== Аватар у профайлі ==== */
body[class*='HIHRAIM'] {
	--wiki-avatar: url(https://c.tenor.com/e5ADyLaU4WAAAAAC/lycoris-recoil.gif);
}

/* === Banette Bot === */
/* ==== Кольоровий нік ==== */
a[href$="/Banette_Bot"],
a[href$=":Banette_Bot"] {
    color: #c15de7;
}

/* ==== Коментарі ==== */
a[href$=":Banette_Bot"] ~ .EntityHeader_middot__39-65:before {
    content: "Бот";
    background: #c15de7;
    padding: 3px;
    border-radius: 5px;
    margin-left:4px;
    font-size: 12px;
    color: #ffffff;
}

/* == Профайл == */
/* === Прибирає жирний шрифт із навігації профайлу === */
#userProfileApp .user-profile-navigation__link a {
    font-weight: unset;
}

/* == Додавання прапорів до інтервіків (зроблено з InterlanguageFlags) == */
/* === RU (Русский) === */
.interwiki-ru::before,
.page-header__languages ul li a:is([data-tracking-label="lang-ru"], [data-tracking-label="lang-ru-GP"], [data-tracking-label="lang-ru-FD"])::before,
.page-footer__languages a:is([data-tracking-label="lang-ru"], [data-tracking-label="lang-ru-GP"], [data-tracking-label="lang-ru-FD"])::before {
	content: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/White-blue-white_flag.svg/20px-White-blue-white_flag.svg.png") !important;
	padding-right: 8px;
}
