/* == Импорты == */
/* === Локальные импорты === */
/* ==== Оформление профайлов (изменённый скрипт AdaptiveProfile) ==== */
@import url("//girls-frontline.fandom.com/ru/load.php?mode=articles&articles=MediaWiki:Profile.css&only=styles");

/* ==== Оформление участников (цвет ника, локальные аватары и баннеры) ==== */
@import url("//girls-frontline.fandom.com/ru/load.php?mode=articles&articles=MediaWiki:Users.css&only=styles");

/* ==== Шаблоны (взято с украинской и английской вики) ==== */
@import url("//girls-frontline.fandom.com/ru/load.php?mode=articles&articles=MediaWiki:Templates.css&only=styles");

/* ==== Инфобоксы ==== */
@import url("//girls-frontline.fandom.com/ru/load.php?mode=articles&articles=MediaWiki:Infoboxes.css&only=styles");

/* === Highlight: Подсветка ников участников с глобальными статусами === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:Highlight.css&only=styles";

/* === InterlanguageFlags: Добавляет флаги в интервики === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:InterlanguageFlags.css&only=styles";

/* === BringExternalLinkIconsBack: Возвращает индикацию внешних ссылок === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:BringExternalLinkIconsBack.css&only=styles";

/* === Antiborder: Удаляет множество рамок === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:Antiborder.css&only=styles";

/* === BalancedBloglists: Улучшает дизайн блогов === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:BalancedBloglists.css&only=styles";

/* === LocalNavExploreIcons: Добавляет иконки в меню «Исследовать» локальной навигации вики === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:LocalNavExploreIcons.css&only=styles";

/* === Fanimp: Улучшает некоторые моменты в стилях Фэндома === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:Fanimp.css&only=styles";

/* === SpoilerBlur: Скрипт на замазывания текста === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:SpoilerBlur.css&only=styles";
/* ==== Использование: ==== */
/* ===== <span class="spoilerblur">Текст, который нужно замазать</span> ===== */

/* === BalancedSlider: Улучшает дизайн слайдера === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:BalancedSlider.css&only=styles";

/* === BalancedPagebottom:Улучшает дизайн интервики и категорий === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:BalancedPageBottom.css&only=styles";

/* === BalancedSearch: Улучшает дизайн поиска === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:BalancedSearch.css&only=styles";

/* === BalancedCategories: Улучшает вид страниц категорий === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:BalancedCategories.css&only=styles";

/* === NewPagesModule: Исправляет отображение списка новых статей === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:NewPagesModule.css&only=styles";

/* === UWAnimation: Делает открытие списков в навигации более плавным === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:UWAnimation.css&only=styles";

/* == Ручное оформление == */
/* === Прозрачный фон статьи === */
.page__main {
    background-color: rgba(var(--theme-page-background-color--rgb),0.9);
}

/* === Удаление иконок === */
/* ==== Большая часть блоков в рельсе ==== */
.rail-module__header .wds-icon {
    display:none;
}

/* ==== Новые изображения, рельса ==== */
.rail-module h2.has-icon svg {
	display:none;
}

/* ==== Содержание, статья ==== */
.toc .toctitle h2 .wds-icon + .wds-icon {
  display:none;
}

/* ==== Последние заработанные значки, таблица лидеров по достижениям ==== */
.WikiaRail .achievements-title:before {
    display:none;
}

/* ==== Таблица лидеров по достижениям ==== */
.LeaderboardTable th:before {
    display:none;
}

/* === Заглавная === */
/* ==== Скрывает категории на заглавной странице ==== */
.mainpage .article-categories, .mainpage .page-footer__categories {
    display: none;
}

/* ==== Переводит таббы в таббере в центр ==== */
.mainpage .tabber .wds-tabs {
    justify-content: center;
}

/* ==== Блоки ==== */
.theme-fandomdesktop-dark .mp-right-line {
	background-color:#ffb200;
}

.theme-fandomdesktop-light .mp-right-line {
	background-color:#416af2;
}

.theme-fandomdesktop-dark .mp-left-line {
	background-color:#282828;
}

.theme-fandomdesktop-light .mp-left-line {
	background-color:#f2f2f2;
}

.theme-fandomdesktop-dark .mp-main-line {
	background-color:#26282C;
}

.theme-fandomdesktop-light .mp-main-line {
	background-color:#f2f2f2;
}

/* ==== Переводит текст в галерее влево ==== */
.mainpage .fandom-slider__nav {
	text-align: left;
}

/* === Подстветка синтаксисов (изменённый скрипт SolarizedSyntaxHighlight) === */
.page pre {
	border: 2px solid #0004;
	padding: 8px 12px;
	max-width: 100%;
	line-height: 1.2em;
	-webkit-overflow-scrolling: touch;
}

.page .mw-highlight pre {
	color:#839496;
}

.theme-fandomdesktop-light .mw-highlight pre {
	background-color:#ffffff;
}

.theme-fandomdesktop-dark .mw-highlight pre {
	background-color:#2f2f2f;
}

/* ==== SYNTAX HIGHLIGHTING ==== */
/* ===== HTML & CSS ===== */
.mediawiki .mw-highlight .p  {color:#93a1a1;} /* punctuation CSS . # : { : ; } ( , ) HTML < / > */
.mediawiki .mw-highlight .o  {color:#93a1a1;} /* punctuation CSS -- ( : ) [ = ] HTML = */
.mediawiki .mw-highlight .c  {color:#586e75;font-style:italic;} /* HTML/CSS comment    */
.mediawiki .mw-highlight .cp {color:#dc322f;} /* CSS !important  HTML <!DOCTYPE>       */
.mediawiki .mw-highlight .nt {color:#268bd2;font-weight:bold;} /* html tag name (body, div), after @-rule*/

/* ===== HTML ===== */
.mediawiki .mw-highlight .na {color:#6c71c4;} /* attribute (id, class,...)    */
.mediawiki .mw-highlight .s  {color:#2aa198;} /* attribute "value"            */
.mediawiki .mw-highlight .ni {color:#b58900;} /* special character (&...;)    */

/* ===== CSS ===== */
.mediawiki .mw-highlight .n  {color:#93a1a1;} /* unrecognized syntax          */
.mediawiki .mw-highlight .nn {color:#d33682;text-shadow:0 0 #d33682;} /* id   */
.mediawiki .mw-highlight .nc {color:#6c71c4;} /* class                        */
.mediawiki .mw-highlight .nd {color:#268bd2;} /* pseudo-class (hover, before) */
.mediawiki .mw-highlight .nb {color:#2aa198;} /* text value (solid, hidden)   */
.mediawiki .mw-highlight .kc {color:#2aa198;} /* text value (rgba, hsl, url)  */
.mediawiki .mw-highlight .k  {color:#859900;} /* propertie, @-rule (@media)   */
.mediawiki .mw-highlight .kp {color:#859900;font-style:italic;} /* -webkit-   */
.mediawiki .mw-highlight .kp+.k {font-style:italic;} /* webkit propertie      */
.mediawiki .mw-highlight .mh {color:#d33682;} /* hex color (#..)              */
.mediawiki .mw-highlight .mi {color:#b58900;} /* numeric values               */
.mediawiki .mw-highlight .mf {color:#d33682;} /* decimal numeric values (0.5) */
.mediawiki .mw-highlight .kt {color:#b58900;} /* size unit (px, in)           */
.mediawiki .mw-highlight .s2 {color:#cb4b16;} /* [...="value"]                */
.mediawiki .mw-highlight .sx {color:#cb4b16;font-style:italic;} /* media link */
.mediawiki .mw-highlight .nf {color:#cb4b16;font-weight:bold;} /* --var       */

/* === Цвет нумерации строк кода при просмотре вне редактора кода === */
.theme-fandomdesktop-dark .mw-content-ltr.mw-highlight-lines pre, .mw-content-ltr.content .mw-highlight-lines pre {
	padding-left: 3.5em;
	box-shadow: inset 2.75em 0 0 #232323;
}

/* === Скроллбар (полоса прокрутки. Изменённый скрипт BalancedScrollbar) === */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--theme-page-background-color--secondary);
}
::-webkit-scrollbar-thumb {
  background:var(--theme-accent-color);
}
::-webkit-scrollbar-thumb:hover {
  background:var(--theme-accent-color);
}

/* ==== Firefox ==== */
:root {
  scrollbar-color:var(--theme-accent-color) var(--theme-page-background-color--secondary);
  scrollbar-width: thin;
}

/* === Рельса === */
/* ==== Изменяет цвет фона блоков в рельсе ==== */
.rail-module, .AchievementsModule {
    background-color:var(--theme-page-background-color);
    border-radius:8px;
    padding:5px;
}

/* ==== Отступ между блоками достижений ==== */
.AchievementsModule {
    margin-top:20px;
}

/* ==== Изменяет вид ссылок в рельсе (взято из BalancedUCX) ==== */
.mw-parser-output a, .right-rail-wrapper a {
    font-weight:500;
}

/* ==== Исправляет отступ от заголовков в рельсе ==== */
.rail-module h2, .rail-module__header {
    margin-bottom:5px;
}

/* ==== Уменьшает отступ от верха рельсы ==== */
.right-rail-wrapper {
    margin-top:-20px;
}

/* ==== Делает текст "Вы можете заработать ещё больше значков!" нормального размера ==== */
.skin-fandomdesktop .UserProfileAchievementsModule .badges-profile-title, .skin-fandomdesktop .UserProfileAchievementsModule .title-challeneges {
    font-size: 16px;
}

/* ==== Наш Discord-сервер ==== */
.rail-discord {
	display: flex;
	flex-direction: column;
}

.theme-fandomdesktop-dark .rail-discord:hover {
	background: var(--theme-accent-color);
	padding:5px;
}

.theme-fandomdesktop-dark .rail-discord:hover a {
    color: var(--theme-accent-label-color);
    padding:5px;
}

.theme-fandomdesktop-light .rail-discord:hover {
	background:#ffb200;
	padding:5px;
}

.theme-fandomdesktop-light .rail-discord:hover a {
    color:#ffb200;
    padding:5px;
}

.rail-discord img {
	object-fit: cover;
}

/* ==== Уменьшает отступ вверху рельсы ==== */
.right-rail-wrapper {
    margin-top: -20px;
}

/* === Навигация === */
/* ==== Название вики (взято из BalancedUCX) ==== */
.fandom-community-header__community-name {
    font-size:28px;
    font-weight:600;
}

/* ==== Тень от содержимого обложки вики, чтоб его было видно на фоне вики ==== */
.theme-fandomdesktop-light .main-container .fandom-community-header__community-name-wrapper,
.theme-fandomdesktop-light .main-container .page-counter,
.theme-fandomdesktop-light .main-container .fandom-community-header__local-navigation .wds-tabs__tab-label{
    filter: drop-shadow(0px 0px 0px var(--theme-accent-color))
    		drop-shadow(0px 0px 0px var(--theme-accent-color))
    		drop-shadow(0px 0px 5px var(--theme-accent-color));
}

.theme-fandomdesktop-light .main-container .fandom-community-header__image {
	filter: drop-shadow(0px 0px 1px var(--theme-accent-color))
			drop-shadow(0px 0px 1px var(--theme-accent-color))
			drop-shadow(0px 0px 1px var(--theme-accent-color));
}

.theme-fandomdesktop-light .wiki-tools {
	background-color:rgba(var(--theme-accent-color--rgb),.4);
}

/* === Увеличивает заголовки и уменьшает нижний отступ в категориях и интервиках (изменение для скрипта BalancedPageBottom) === */
.wds-collapsible-panel__header {
    font-size: 15px !important;
}

#articleCategories .container, #articleCategories .toolbar, #articleCategories li {
    margin-bottom: -10px;
}

#articleCategories {
    margin-bottom: -10px;
}

.page-footer__languages .wds-collapsible-panel__content {
    margin-bottom: -10px;
}

/* === Уменьшает отступы от расширенного поиска (изменение для скрипта BalancedSearch) === */
.unified-search__layout__main {
    margin-top: -10px;
}

.unified-search__layout__right-rail {
    margin-top: -10px;
}

/* === Название вики (взято из BalancedUCX) === */
.fandom-community-header__community-name {
    font-size: 28px;
    font-weight: 600;
}

/* === Интервики (взято из BalancedUCX) === */
.page-header__languages .wds-dropdown__toggle,
.page-header__variants .wds-dropdown__toggle {
    transition-duration: .3s !important;
	color: var(--theme-link-color) !important;
	text-transform: uppercase !important;
    font-family: inherit !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    letter-spacing: .15px !important;
    line-height: 16px !important;
}

.page-header__languages svg,
.page-header__variants svg {
	display: none !important;
}

/* === Исправление ссылок (взято из BalancedUCX) === */
a {
	text-decoration: none !important;
}

/* === Умаеньшает отступ от содержания (взято из BalancedUCX) === */
.toc {
    margin-bottom: -10px;
}

/* === Изменяет вид ссылок в рельсе (взято из BalancedUCX) === */
.mw-parser-output a, .right-rail-wrapper a {
    font-weight: 500;
}

/* === Исправляет отступ от заголовков в рельсе === */
.rail-module h2, .rail-module__header {
    margin-bottom: 5px;
}

/* === Увеличивает максимальную ширину контента навигации === */
.fandom-community-header__local-navigation .wds-dropdown__content {
    max-width: 250px;
}
