/* == Цветные ники, локальные аватары и баннеры. == */
/* == За помощью можно обращаться к администрации вики, например, к HIHRAIM'у, или просто в чат Discord-сервера. == */
/* === HIHRAIM === */
a[href$="/HIHRAIM"],
a[href$=":HIHRAIM"] {
    color:#666666; text-shadow: 0 0 10px rgba(20, 20, 20) !important;
}

a[href$=":HIHRAIM"] ~ .EntityHeader_middot__2f4XC:after {
    content: "Главный администратор";
    background: rgba(20, 20, 20);
    padding: 3px;
    border-radius: 5px;
    margin-left:4px;
    font-size: 12px;
    color:#ffffff;
}

body[class*='HIHRAIM'] {
	--wiki-avatar: url(https://static.wikia.nocookie.net/hihraim-test/images/5/57/22022023.png/revision/latest?cb=20230222143933&path-prefix=ru);
}

[class^="wds-avatar EntityHeader_avatar"]:has([href$="HIHRAIM"]) .wds-avatar__image,
[src="https://static.wikia.nocookie.net/de7dec22-9a92-4f88-8981-42f4666c22d6/scale-to-width/100"] {
    content: url(https://static.wikia.nocookie.net/hihraim-test/images/5/57/22022023.png/revision/latest?cb=20230222143933&path-prefix=ru);
}

/* === Banette Bot === */
a[href$="/Banette Bot"],
a[href$=":Banette Bot"] {
    color: #a351f5;
}

a[href$=":Banette Bot"] ~ .EntityHeader_middot__2f4XC:after {
    content: "Бот";
    background: #00FFFF;
    padding: 3px;
    border-radius: 5px;
    margin-left:4px;
    font-size: 12px;
    color: #ffffff;
}

body[class*='Banette_Bot'] {
	--wiki-avatar: url(https://static.wikia.nocookie.net/girls-frontline/images/9/91/Alva_Mega_Banette.png/revision/latest/scale-to-width-down/300?cb=20161220205950);
}

[class^="wds-avatar EntityHeader_avatar"]:has([href$="Banette%20Bot"]) .wds-avatar__image,
[src="https://static.wikia.nocookie.net/2a05bbd0-7243-4485-9462-65f2ef765043/scale-to-width/100"] {
    content: url(https://static.wikia.nocookie.net/girls-frontline/images/9/91/Alva_Mega_Banette.png/revision/latest/scale-to-width-down/300?cb=20161220205950);
}
