{| style="margin:6px 6px; width:97%; padding:0px; border:5px outset orange; text-align:center"
| colspan="3" |'''Шалом, посетитель моего профайла! Я HIHRAIM. Если есть какие-то вопросы, пиши мне на стену или в <span style="border-bottom:0px dotted; cursor:help;" title="HIHRAIM#1612">{{{va|}}} <span style="line-height:1px; vertical-align:0.4px;">дискорд</span>.''' '''Больше информации обо мне ниже.'''
|-
|'''[https://wikies.fandom.com/wiki/HIHRAIM Статья про меня на Викии Вики]'''
|-
|'''[[User:HIHRAIM/Wikis|Википроекты, на которых я присутствую]]'''
|}