/* == Импорты == */
/* === Добавляет флаги в интервики === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:InterlanguageFlags.css&only=styles";

/* === Highlight: Подсветка ников участников с глобальными статусами === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:Highlight.css&only=styles";

/* === InterlanguageFlags: Добавляет флаги в интервики === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:InterlanguageFlags.css&only=styles";

/* === BringExternalLinkIconsBack: Возвращает индикацию внешних ссылок === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:BringExternalLinkIconsBack.css&only=styles";

/* === Antiborder: Удаляет множество рамок === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:Antiborder.css&only=styles";

/* === BalancedBloglists: Улучшает дизайн блогов === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:BalancedBloglists.css&only=styles";

/* === LocalNavExploreIcons: Добавляет иконки в меню «Исследовать» локальной навигации вики === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:LocalNavExploreIcons.css&only=styles";

/* === Fanimp: Улучшает некоторые моменты в стилях Фэндома === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:Fanimp.css&only=styles";

/* == Оформление вики == */
/* === Инфобоксы === */
/* ==== Горизонтальный макет для групп ==== */
/* ===== Чтоб текст по горизонтали был слева ===== */
.pi-horizontal-group .pi-horizontal-group-item {
    text-align: left;
}

/* ===== Чтоб текст по вертикали был вверху ===== */
.pi-horizontal-group .pi-horizontal-group-item {
    vertical-align: top;
}

/* ==== Расширерение инфобокса ==== */
.portable-infobox {
	width: 290px;
}

/* === Удаление иконок === */
/* ==== Большая часть блоков в рельсе ==== */
.rail-module__header .wds-icon {
    display: none;
}

/* ==== Новые изображения, рельса ==== */
.rail-module h2.has-icon svg {
	display: none;
}

/* ==== Содержание, статья ==== */
.toc .toctitle h2 .wds-icon + .wds-icon {
  display: none;
}

/* === Заглавная === */
/* ==== Скрывает категории на заглавной странице ==== */
.mainpage .article-categories, .mainpage .page-footer__categories {
    display: none;
}

/* ==== Переводит таббы в таббере в центр ==== */
.mainpage .tabber .wds-tabs {
    justify-content: center;
}

/* === Профайл (скрипт AdaptiveProfile, спасибо Dr.Bryan) === */
/* ==== Аватар ==== */
body.skin-fandomdesktop #userProfileApp .user-identity-avatar {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

body .user-identity-avatar:before {
	background-image: var(--wiki-avatar);
	background-position: center top;
	background-size: auto 100%;
	border-radius: 50%;
	content: '';
	height: 138px;
	margin: 2px 0 0 2px;
	position: absolute;
	width: 138px;
}

/* ==== Навигация ==== */
#userProfileApp .user-profile-navigation {
	justify-content: center;
}

/* === Подстветка синтаксисов (Изменённый скрипт SolarizedSyntaxHighlight) === */
.page pre {
	border: 2px solid #0004;
	padding: 8px 12px;
	max-width: 100%;
	line-height: 1.2em;
	-webkit-overflow-scrolling: touch;
}

.page .mw-highlight pre {
	color:#839496;
}

.theme-fandomdesktop-light .mw-highlight pre {
	background-color:#ffffff;
}

.theme-fandomdesktop-dark .mw-highlight pre {
	background-color:#2f2f2f;
}

/* ==== SYNTAX HIGHLIGHTING ==== */
/* ===== HTML & CSS ===== */
.mediawiki .mw-highlight .p  {color:#93a1a1;} /* punctuation CSS . # : { : ; } ( , ) HTML < / > */
.mediawiki .mw-highlight .o  {color:#93a1a1;} /* punctuation CSS -- ( : ) [ = ] HTML = */
.mediawiki .mw-highlight .c  {color:#586e75;font-style:italic;} /* HTML/CSS comment    */
.mediawiki .mw-highlight .cp {color:#dc322f;} /* CSS !important  HTML <!DOCTYPE>       */
.mediawiki .mw-highlight .nt {color:#268bd2;font-weight:bold;} /* html tag name (body, div), after @-rule*/

/* ===== HTML ===== */
.mediawiki .mw-highlight .na {color:#6c71c4;} /* attribute (id, class,...)    */
.mediawiki .mw-highlight .s  {color:#2aa198;} /* attribute "value"            */
.mediawiki .mw-highlight .ni {color:#b58900;} /* special character (&...;)    */

/* ===== CSS ===== */
.mediawiki .mw-highlight .n  {color:#93a1a1;} /* unrecognized syntax          */
.mediawiki .mw-highlight .nn {color:#d33682;text-shadow:0 0 #d33682;} /* id   */
.mediawiki .mw-highlight .nc {color:#6c71c4;} /* class                        */
.mediawiki .mw-highlight .nd {color:#268bd2;} /* pseudo-class (hover, before) */
.mediawiki .mw-highlight .nb {color:#2aa198;} /* text value (solid, hidden)   */
.mediawiki .mw-highlight .kc {color:#2aa198;} /* text value (rgba, hsl, url)  */
.mediawiki .mw-highlight .k  {color:#859900;} /* propertie, @-rule (@media)   */
.mediawiki .mw-highlight .kp {color:#859900;font-style:italic;} /* -webkit-   */
.mediawiki .mw-highlight .kp+.k {font-style:italic;} /* webkit propertie      */
.mediawiki .mw-highlight .mh {color:#d33682;} /* hex color (#..)              */
.mediawiki .mw-highlight .mi {color:#b58900;} /* numeric values               */
.mediawiki .mw-highlight .mf {color:#d33682;} /* decimal numeric values (0.5) */
.mediawiki .mw-highlight .kt {color:#b58900;} /* size unit (px, in)           */
.mediawiki .mw-highlight .s2 {color:#cb4b16;} /* [...="value"]                */
.mediawiki .mw-highlight .sx {color:#cb4b16;font-style:italic;} /* media link */
.mediawiki .mw-highlight .nf {color:#cb4b16;font-weight:bold;} /* --var       */

/* === Цвет нумерации строк кода при просмотре вне редактора кода === */
.theme-fandomdesktop-dark .mw-content-ltr.mw-highlight-lines pre, .mw-content-ltr.content .mw-highlight-lines pre {
	padding-left: 3.5em;
	box-shadow: inset 2.75em 0 0 #232323;
}

/* === Скроллбар (полоса прокрутки. Изменённый скрипт BalancedScrollbar) === */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--theme-page-background-color--secondary);
}
::-webkit-scrollbar-thumb {
  background:var(--theme-accent-color);
}
::-webkit-scrollbar-thumb:hover {
  background:var(--theme-accent-color);
}

/* ==== Firefox ==== */
:root {
  scrollbar-color:var(--theme-accent-color) var(--theme-page-background-color--secondary);
  scrollbar-width: thin;
}

/* === Популярные страницы (изменённый скрипт TopArticles) === */
.TopArticlesSearch {
    width: 300px;
}

.TopArticles h2 {
    font-size: 16px;
    font-weight: bold;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: 0px 0px 19px;
    padding: 0px;
}

rail-module h2, .rail-module__header {
    --wds-midlight-color: rgba(var(--theme-link-color--rgb),0.1);
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 15px;
}

.TopArticles ul {
    list-style-type: none;
    margin-left: 0;
}

.TopArticlesSearch ul li {
    border-top: 0px solid #CCCCCC !important;
    clear: left;
    min-height: 90px;
    padding-bottom: 6px;
    padding-top: 0px !important;
}

.TopArticlesSearch ul li:last-child {
    border-bottom: 0px solid #CCCCCC !important;
}

.oasis-dark-theme .TopArticlesSearch ul li {
    border-color: #333333;
}

.TopArticlesThumbnail, .TopArticlesDescription {
    display: inline-block;
}

.TopArticlesDescription {
    width: 198px;
}

.TopArticlesDescription a {
    font-weight: bold;
}

.TopArticlesDescription span {
    color: gray;
}

.TopArticlesThumbnail {
    float: left;
    margin-right: 12px;
}

.TopArticlesThumbnail, .TopArticlesThumbnail img {
    height: 90px;
    width: 90px;
}

/* === Для участников вики === */
/* ==== HIHRAIM ==== */
a[href$="/HIHRAIM"],
a[href$=":HIHRAIM"] {
    color: #a351f5;
}

a[href$=":HIHRAIM"] ~ .EntityHeader_middot__2f4XC:after {
    content: "Главный администратор";
    background: #b90ddb;
    padding: 3px;
    border-radius: 5px;
    margin-left:4px;
    font-size: 12px;
    color: #ffffff;
}

/* === Навбокс === */
.navbox {
	background-color: var(--theme-accent-color);
}
