/* == Шаблоны и другие элементы страниц == */
/* === Модульные инфобоксы === */
.normal-infobox .portable-infobox {
	background-color:rgb(var(--theme-accent-color--rgb),.1);
	border-radius:var(--pokewiki-border-radius);
	border-width:0;
	box-shadow:0px 0px 2px 4px var(--theme-border-color);
	margin:5px;
	border:2px solid var(--theme-accent-color) !important;
}

.normal-infobox .portable-infobox .pi-title,
.normal-infobox .portable-infobox .pi-header,
.normal-infobox .pi-horizontal-group .pi-header {
	background-repeat:repeat;
	background-position:left;
	background-color:rgb(var(--theme-accent-color--rgb),.4);
	color:#fff;
	font-weight:bold;
	text-align:center;
	text-shadow:0px 0px 0px rgba(000, 10, 41, 100);
}

.normal-infobox .pi-title {
	font-weight:500 !important;
	border-radius:var(--pokewiki-border-radius) !important;
	margin:2px 2px 0px 2px !important;
}

.normal-infobox .pi-header {
	border-radius:var(--pokewiki-border-radius);
	margin:2px !important;
}

.normal-infobox .portable-infobox .pi-border-color {
	border-color:transparent;
}

.normal-infobox .portable-infobox .wds-tabs {
	justify-content:center !important;
}

.normal-infobox .portable-infobox .wds-tabs__tab {
	margin-left:3px;
	margin-right:3px;
	transition:all 0.3s !important;
}

.normal-infobox .portable-infobox .wds-tabs__tab:hover {
	transform:scale(1.05);
}

/* .normal-infobox .portable-infobox .wds-tabs__tab.wds-is-current {
	color:#fff;
}*/

.normal-infobox .portable-infobox .wds-tabs__tab {
	color:rgb(230 230 230 / 75%);
	cursor:pointer;
	flex-shrink:0;
	line-height:14px;
	position:relative;
	transition:box-shadow .1s;
}

.normal-infobox .portable-infobox .pi-image img {
	padding:2px;
	transition:transform 0.3s ease;
}

.normal-infobox .portable-infobox .pi-data, .normal-infobox .portable-infobox .pi-horizontal-group {
	transition:background 0.4s;
}

.normal-infobox .portable-infobox .pi-data .pi-data-value {
	border-left:1px solid rgba(var(--theme-page-text-color--rgb),0.26);
	padding-left:1em;
}

.theme-fandomdesktop-dark .normal-infobox .portable-infobox .pi-data:hover, .normal-infobox .portable-infobox .pi-horizontal-group:hover {
	background-color:rgba(0, 0, 0, 0.500);
}

.theme-fandomdesktop-light .normal-infobox .portable-infobox .pi-data:hover, .normal-infobox .portable-infobox .pi-horizontal-group:hover {
	background-color:rgba(0, 0, 0, 0.100);
}

.normal-infobox .portable-infobox .pi-data:hover .pi-data-value {
	border-radius:0;
}

/* === Навбоксы === */
[class*="navbox"] div :is(h2, h3) {
	text-align:center;
	font-weight:500 !important;
	margin:0 auto !important;
}

.audio-button {
	width:30px;
	height:20px;
	opacity:.8;
}

.pokemons-navbox {
	border:2px solid var(--poke-accent) !important;
	box-shadow:0px 0px 2px 4px var(--theme-border-color);
	border-radius:var(--pokewiki-border-radius);
	padding:1px;
	text-align:center;
	border-spacing:1px;
	margin:5px;
	min-width:90%;
}

.pokemons-navbox th,
.pokemons-navbox td > div {
	background:var(--poke-light);
	font-weight:500;
}

.pokemons-navbox td > div {
	margin:-1px auto;
	width:90% !important;
	border-radius:var(--pokewiki-border-radius-bottom);
	padding:0 !important;
}

.pokemons-navbox tr {
	border-bottom:1px solid var(--poke-light);
}

.pokemons-navbox tr > .th {	
	background:none;
}

.pokemons-navbox .tr-first th {
	border-radius:var(--pokewiki-border-radius) 0 0 0;
}

.pokemons-navbox .tr-first td {
	border-radius:0 var(--pokewiki-border-radius) 0 0;
}

.pokemons-navbox .tr-center th {
	border-radius:0 0 0 0;
}

.pokemons-navbox .tr-center td {
	border-radius:0 0 0 0;
}

.pokemons-navbox .tr-last th {
	border-radius:0 0 0 var(--pokewiki-border-radius);
}

.pokemons-navbox .tr-last td {
	border-radius:0 0 var(--pokewiki-border-radius) 0;
}

.pokemons-navbox td {
	background:var(--poke-full-light);
}

.pokemons-navbox h4 {
	margin:9px 0 9px !important;
}

/* ==== Таблицы разведения покемонов ==== */
.breeding-table .mw-file-element.mw-broken-media {
	background-image:url('https://static.wikia.nocookie.net/pokemon/images/e/e3/No_Image.png/revision/latest?cb=20211113135653');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	width:35px;
	height:35px;
	display:inline-block;
	border:none;
	text-indent:-9999px;
}

.breeding-table img {
	width:35px;
	height:35px;
}

/* ==== Таблицы изучаемых движений через предметы ==== */
.bag-sprite .mw-file-element.mw-broken-media {
	background-image:url('https://static.wikia.nocookie.net/pokemon/images/e/e3/No_Image.png/revision/latest?cb=20211113135653');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	width:25px;
	height:25px;
	display:inline-block;
	border:none;
	text-indent:-9999px;
}

.bag-sprite img {
	width:35px;
	height:35px;
}

/* === Навбоксы === */
.poke-navbox, .pokemons-navbox {
	--poke-accent:var(--theme-accent-color);
	--poke-rgb:var(--theme-accent-color--rgb);
	--poke-light:rgb(var(--theme-accent-color--rgb),.4);
	--poke-full-light:rgb(var(--theme-accent-color--rgb),.1);
}
.poke-navbox .wds-tabs {
	justify-content:center;
}
.poke-navbox .with-bottom-border {
	border-bottom:0;
}

.poke-navbox {
	position:relative;
	border:2px solid var(--poke-accent) !important;
	box-shadow:0px 0px 2px 3px var(--theme-border-color);
	border-radius:var(--pokewiki-border-radius);
	padding:2px;
	margin:5px;
}

.poke-navbox img {
	width:50px;
	height:50px;
}

.poke-navbox .mw-editsection {
	display:none;
}

/* === Заголовок === */
.poke-navbox > .th {
	display:block;
	background:var(--poke-light);
	font-weight:500;
	/* margin:-1px auto; */
	width:100% !important;
	border-radius:var(--pokewiki-border-radius);
	/* margin:.2em; */
	height:var(--th-height);
	text-align:center;
}

.poke-navbox > .th a {
	position:relative;
	z-index:1;
}

/* === Тогл === */
.poke-navbox .mw-collapsible-toggle {
	/* background:#000a; */
	float:none !important;
	position:absolute;
	right:0;
	width:100%;
	text-align:right;
	height:var(--th-height);
}

.poke-navbox .mw-collapsible-toggle .mw-collapsible-text {
	display:block;
	background:var(--poke-full-light);
	/* width:100% !important; */
	/* padding:0 100%; */
	font-size:0;
	z-index:0;
}

.poke-navbox .mw-collapsible-toggle:after {content:'';}
.poke-navbox .mw-collapsible-toggle:before {
	font-family:'FontAwesome' !important;
	/* position:absolute; */
	content:"\f106";
	font-size:1.2rem !important;
	font-weight:bold;
	color:var(--theme-link-color);
	/* transform:translateX(-3em); */
	margin-right:1em;
	height:var(--th-height);
	line-height:1;
}

/* === Контейнер с покемонами === */
.poke-navbox .content,
[data-item-name="pokemons"] .group-layout {
	font-size:80%;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:end;
	margin:.5em .1em;
}

.poke-generations.poke-navbox > .th {
	margin:-1px auto;
	width:90% !important;
	border-radius:var(--pokewiki-border-radius-bottom);
	padding:0 !important;
}

.poke-navbox.poke-generations .content {
	overflow:auto;
	height:300px;
}

/* === Скроллбар === */
.poke-navbox ::-webkit-scrollbar {
	transform:translateY(10px);
	background:transparent !important;
}
.poke-navbox ::-webkit-scrollbar-thumb {
	border-radius:5px;
}

/* === Ячейки покемонов === */
[data-item-name="pokemons"] .group-layout > span,
.poke-navbox .content > span {
	position:relative;
	display:grid;
	justify-items:center;
	align-items:end;
	min-width:80px;
	text-align:center;
	transition:.5s;
	border-radius:var(--pokewiki-border-radius);
	padding-bottom:1.7em;
	line-height:normal;
}

.poke-navbox .content > span > :is(a,.new,.selflink),
[data-item-name="pokemons"] .group-layout > span > :is(a,.new,.selflink) {
	position:absolute;
	width:100%;
	height:100%;
	display:grid;
	align-items:end;
	padding-bottom:.5em;
}

.poke-navbox .content > span img,
[data-item-name="pokemons"] .group-layout > span img {
	margin-bottom:4px;
}

/* ==== При наведении ==== */
.poke-navbox .content > span:hover,
[data-item-name="pokemons"] .group-layout > span:hover {
	background:var(--poke-full-light);
}

/* === Цвета стихийных типов (HEX) === */
:root {
	--type-normal-color:#9FA19F;
	--type-fire-color:#E62829;
	--type-fighting-color:#FF8000;
	--type-water-color:#2980EF;
	--type-flying-color:#81B9EF;
	--type-grass-color:#3FA129;
	--type-poison-color:#9141CB;
	--type-electric-color:#FAC000;
	--type-ground-color:#915121;
	--type-psychic-color:#EF4179;
	--type-rock-color:#AFA981;
	--type-ice-color:#3DCEF3;
	--type-bug-color:#91A119;
	--type-dragon-color:#5060E1;
	--type-ghost-color:#704170;
	--type-dark-color:#624D4E;
	--type-steel-color:#60A1B8;
	--type-fairy-color:#EF70EF;

	--type-normal-color-dark:#676967;
	--type-fire-color-dark:#961A1B;
	--type-fighting-color-dark:#A65300;
	--type-water-color-dark:#1B539B;
	--type-flying-color-dark:#54789B;
	--type-grass-color-dark:#29691B;
	--type-poison-color-dark:#5E2A84;
	--type-electric-color-dark:#A37D00;
	--type-ground-color-dark:#5E3515;
	--type-psychic-color-dark:#9B2A4F;
	--type-rock-color-dark:#726E54;
	--type-ice-color-dark:#28869E;
	--type-bug-color-dark:#5E6910;
	--type-dragon-color-dark:#343E92;
	--type-ghost-color-dark:#492A49;
	--type-dark-color-dark:#403233;
	--type-steel-color-dark:#3E6978;
	--type-fairy-color-dark:#9B499B;
}

/* === Оттенки фона инфобокса === */
.Нормальный,.Боевой,.Огненный,.Водный,.Ядовитый,.Земляной,.Каменный,.Насекомый,.Призрачный,.Стальной,.Волшебный,.Травяной,.Электрический,.Психический,.Ледяной,.Драконий,.Летающий,.Тёмный,.Звёздный,
[title~=тип],
.Pokedex[class*="type2-"],
[class*="type-"] .pi-theme-Pokedex,
[class*="type-"] .pi-theme-Movedex,
.Pokedex[class*="type-"] + p {
	--hsl:var(--type-color);
	--hsl-2:color-mix(in srgb, var(--type-color) 70%, #fff);
	--hsl-3:color-mix(in srgb, var(--type-color) 45%, #fff);
	--hsl-4:color-mix(in srgb, var(--type-color) 20%, #fff);
	--hsl-dark:var(--type-color-dark, color-mix(in srgb, var(--type-color), #000 30%));
}

/* ==== Портабельный (Модульный) инфобокс ==== */
.Pokedex {
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
	width:fit-content;
	margin:0 0 1em 0;
	padding:.5em 1em;
	border-radius:var(--pokewiki-border-radius);
}

.Pokedex[class*="type2-"]
/* [class~="type-"], */
 {
	border:2px solid var(--hsl-dark);
	background-color:var(--hsl-2);
}

/* ==== Pokedex ==== */
/* ===== Основа ===== */
.Pokedex .portable-infobox {
	width:unset;
	border:unset;
}

.pi-theme-Pokedex,
.pi-theme-Movedex {
	background:transparent;
	border:0;
	width:100%;
	margin:0;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	gap:.5em;
}

.pi-navigation {
	font-weight:normal;
	/* background:var(--hsl-2,var(--pi-background)); */
}

[class*="type-"] .pi-theme-Pokedex .pi-navigation {
	background:var(--hsl-2,var(--pi-background));
}

/* ===== Цвет рамок ===== */
.pi-theme-Pokedex .pi-border-color {
	border-color:var(--hsl-dark);
}

/* ===== Секции ===== */
.pi-theme-Pokedex > section,
.pi-theme-Movedex > section {
	width:calc(100% / 3);
	max-width:360px;
	background:var(--hsl,var(--pi-background));
	border-width:2px;
	border-style:solid;
}

.pi-theme-Pokedex > section {
	border-radius:8px;
	overflow:hidden;
}

/* [data-item-name="Pokedex-center"] {
	border-radius:10px 10px 0 0;
	overflow:hidden;
}*/

[data-item-name="Pokedex-left"] {
	width:300px !important;
}

@media (max-width:850px) {
	[data-item-name="Pokedex-left"] {
		max-width:200px !important;
	}
}

/* ===== Рамки ===== */
.pi-theme-Pokedex .pi-item,
.pi-theme-Pokedex .pi-smart-group-body,
.pi-smart-group .pi-smart-data-value {
	border-width:2px;
}

.pi-theme-Pokedex > section:not(:nth-child(2)) {
	border-top:none;
}

/* ==== Текст блоков (контраст, одинаково в обеих темах) ==== */
.pi-theme-Pokedex {
	color:#000;
	--theme-page-text-color:#000;
}

/* ==== Заголовки ==== */
.pi-item {
	margin:0 0px !important;
}

.pi-item-spacing {
	margin:0 !important;
	line-height:1 !important;
}

.pi-data-value {
	background:var(--hsl-4);
}

.pi-data-label a,
.pi-title a,
[data-item-name="pi-data-label simple"] a {
	color:var(--theme-page-text-color);
}

.pi-theme-Pokedex .pi-data-label,
.pi-theme-Pokedex .pi-title,
[data-item-name="pi-data-label simple"],
[data-item-name="pi-data-label simple-pass"]{
	background:var(--hsl-3);
	font-weight:500;
	color:var(--theme-page-text-color);
}

.pi-theme-Pokedex .pi-title {
	font-size:18px;
	line-height:18px;
	padding:0;
	background:var(--hsl-2, var(--pi-background));
	color:var(--theme-page-text-color);
}

.Pokedex .smallpic {
	background:var(--hsl-4);
	border-radius:var(--pokewiki-border-radius);
	display:inline-table;
	margin-right:-4px;
}

.Pokedex .smallpic img {
	width:75px;
	height:auto;
}

section[data-item-name="Pokedex-center"] .pi-image {
	background:var(--hsl-2, var(--pi-background));
	padding:0 .5em;
}

section[data-item-name="Pokedex-center"] .pi-image img {
	padding:10px;
}

[data-item-name="Pokedex-center"] .pi-image-thumbnail {
	background:var(--hsl-4);
	/*padding:1em;*/
	border-radius:var(--pokewiki-border-radius);
}

/* ==== Бейджи типов ==== */
.mw-parser-output [title~=тип] {
	display:inline-block;
	border-radius:5px;
	color:var(--cs-txt, #000) !important;
	--theme-page-text-color:var(--cs-txt, #000);
	background:var(--hsl);
	border:1px solid var(--hsl-dark);
	font-size:.75rem;
	line-height:1;
	padding:.2em;
	text-shadow:none;
	text-transform:uppercase;
	transition:.3s;
}
[title~=тип]:hover {
	background:var(--hsl-2);
}

/* ==== Иконки покемонов ==== */
.Pokedex .pokeicons img {
	width:50px;
	height:50px;
}

/* === Movedex == */
.Movedex {
	display:inline-block;
	padding:2px;
}

.pi-theme-Movedex > section {
	box-shadow:0 0 0 2px var(--border);
}

[data-item-name="Movedex-center"] {
	border-radius:var(--pokewiki-border-radius-top);
	overflow:hidden;
	/* width:300px !important; */
}

[data-item-name="Movedex-left"] {
	min-width:200px !important;
	border-radius:var(--pokewiki-border-radius);
	overflow:hidden;
}

[data-item-name="Movedex-right"] {
	min-width:300px !important;
	border-radius:var(--pokewiki-border-radius);
	overflow:hidden;
}

section[data-item-name="Movedex-center"] .pi-image {
	background:var(--hsl, var(--pi-background));
	padding-bottom:2px;
}

[data-item-name="Movedex-center"] .pi-image-thumbnail {
	border-radius:var(--pokewiki-border-radius);
}

[class*="type-"] .pi-theme-Movedex .pi-navigation {
	background:var(--hsl,var(--pi-background));
}

/* ==== Цвет рамок ==== */
.pi-theme-Movedex .pi-border-color {
	border-color:var(--hsl-dark);
}

.pi-theme-Movedex .pi-title {
	font-size:24px !important;
	background:var(--hsl, var(--pi-background));
}

.pi-theme-Movedex .pi-header {
	background:var(--hsl, var(--pi-background));
	color:var(--cs-txt, #000);
	font-weight:700 !important;
}

.pi-theme-Movedex .pi-item {
	padding:0;
	align-items:center;
	gap:0;
	background:var(--hsl,var(--pi-background));
}

.pi-theme-Movedex .pi-data-label,
.pi-theme-Movedex .pi-group .pi-data-value {
	padding:5px;
}

[data-item-name='layout-default'] .pi-data-value {
	width:100% !important;
	border-radius:var(--pokewiki-border-radius-bottom);
}

.pi-theme-Movedex .pi-group > section:not(:first-of-type) .pi-header {
	margin-top:5px !important;
}

.pi-theme-Movedex .pi-horizontal-group .pi-header {
	text-align:center;
	background:var(--hsl-2, var(--pi-background));
	border-radius:var(--pokewiki-border-radius-top);
}

/* === Другое === */
.group-layout {
	width:260px;
	padding-left:10px;
}

/* === Темы типов === */
/* ==== Тип (основной) ==== */
.Нормальный,
.type-Нормальный .pi-theme-Pokedex,
.type-Нормальный .pi-theme-Movedex,
.type2-Нормальный,
[title~=Нормальный],[title~=Нормальный],
.type-Нормальный + p {
	--type-color:var(--type-normal-color);
	--type-color-dark:var(--type-normal-color-dark);
}

.Боевой,
.type-Боевой .pi-theme-Pokedex,
.type-Боевой .pi-theme-Movedex,
.type2-Боевой,
[title~=Боевой],
.type-Боевой + p {
	--type-color:var(--type-fighting-color);
	--type-color-dark:var(--type-fighting-color-dark);
}

.Огненный,
.type-Огненный .pi-theme-Pokedex,
.type-Огненный .pi-theme-Movedex,
.type2-Огненный,
[title~=Огненный],
.type-Огненный + p {
	--type-color:var(--type-fire-color);
	--type-color-dark:var(--type-fire-color-dark);
}

.Водный,
.type-Водный .pi-theme-Pokedex,
.type-Водный .pi-theme-Movedex,
.type2-Водный,
[title~=Водный],[title~=Водний],
.type-Водный + p {
	--type-color:var(--type-water-color);
	--type-color-dark:var(--type-water-color-dark);
}

.Ядовитый,
.type-Ядовитый .pi-theme-Pokedex,
.type-Ядовитый .pi-theme-Movedex,
.type2-Ядовитый,
[title~=Ядовитый],
.type-Ядовитый + p {
	--type-color:var(--type-poison-color);
	--type-color-dark:var(--type-poison-color-dark);
	--cs-txt:#fff;
}

.Земляной,
.type-Земляной .pi-theme-Pokedex,
.type-Земляной .pi-theme-Movedex,
.type2-Земляной,
[title~=Земляной],
.type-Земляной + p {
	--type-color:var(--type-ground-color);
	--type-color-dark:var(--type-ground-color-dark);
	--cs-txt:#fff;
}

.Каменный,
.type-Каменный .pi-theme-Pokedex,
.type-Каменный .pi-theme-Movedex,
.type2-Каменный,
[title~=Каменный],[title~="Каменный"],
.type-Каменный + p {
	--type-color:var(--type-rock-color);
	--type-color-dark:var(--type-rock-color-dark);
}

.Насекомый,
.type-Насекомый .pi-theme-Pokedex,
.type-Насекомый .pi-theme-Movedex,
.type2-Насекомый,
[title~=Насекомый],[title^=Насекомый],
.type-Насекомый + p {
	--type-color:var(--type-bug-color);
	--type-color-dark:var(--type-bug-color-dark);
}

.Призрачный,
.type-Призрачный .pi-theme-Pokedex,
.type-Призрачный .pi-theme-Movedex,
.type2-Призрачный,
[title~=Призрачный],
.type-Призрачный + p {
	--type-color:var(--type-ghost-color);
	--type-color-dark:var(--type-ghost-color-dark);
	--cs-txt:#fafafa;
}

.Стальной,
.type-Стальной .pi-theme-Pokedex,
.type-Стальной .pi-theme-Movedex,
.type2-Стальной,
[title~=Стальной],
.type-Стальной + p {
	--type-color:var(--type-steel-color);
	--type-color-dark:var(--type-steel-color-dark);
}

.Волшебный,
.type-Волшебный .pi-theme-Pokedex,
.type-Волшебный .pi-theme-Movedex,
.type2-Волшебный,
[title~=Волшебный],
.type-Волшебный + p {
	--type-color:var(--type-fairy-color);
	--type-color-dark:var(--type-fairy-color-dark);
}

.Травяной,
.type-Травяной .pi-theme-Pokedex,
.type-Травяной .pi-theme-Movedex,
.type2-Травяной,
[title~=Травяной],[title~="Травяной"],
.type-Травяной + p {
	--type-color:var(--type-grass-color);
	--type-color-dark:var(--type-grass-color-dark);
}

.Электрический,
.type-Электрический .pi-theme-Pokedex,
.type-Электрический .pi-theme-Movedex,
.type2-Электрический,
[title~=Электрический],
.type-Электрический + p {
	--type-color:var(--type-electric-color);
	--type-color-dark:var(--type-electric-color-dark);
}

.Психический,
.type-Психический .pi-theme-Pokedex,
.type-Психический .pi-theme-Movedex,
.type2-Психический,
[title~=Психический],
.type-Психический + p {
	--type-color:var(--type-psychic-color);
	--type-color-dark:var(--type-psychic-color-dark);
}

.Ледяной,
.type-Ледяной .pi-theme-Pokedex,
.type-Ледяной .pi-theme-Movedex,
.type2-Ледяной,
[title~=Ледяной],
.type-Ледяной + p {
	--type-color:var(--type-ice-color);
	--type-color-dark:var(--type-ice-color-dark);
}

.Драконий,
.type-Драконий .pi-theme-Pokedex,
.type-Драконий .pi-theme-Movedex,
.type2-Драконий,
[title^=Дракон],
.type-Драконий + p {
	--type-color:var(--type-dragon-color);
	--type-color-dark:var(--type-dragon-color-dark);
	--cs-txt:#fff;
}

.Летающий,
.type-Летающий .pi-theme-Pokedex,
.type-Летающий .pi-theme-Movedex,
.type2-Летающий,
[title~=Летающий],
.type-Летающий + p {
	--type-color:var(--type-flying-color);
	--type-color-dark:var(--type-flying-color-dark);
}

.Тёмный,
.type-Тёмный .pi-theme-Pokedex,
.type-Тёмный .pi-theme-Movedex,
.type2-Тёмный,
[title~=Тёмный],
.type-Тёмный + p {
	--type-color:var(--type-dark-color);
	--type-color-dark:var(--type-dark-color-dark);
	--cs-txt:#fafafa;
}

.Звёздный,
.type-Звёздный .pi-theme-Pokedex,
.type-Звёздный .pi-theme-Movedex,
.type2-Звёздный,
[title~=Звёздный],[title~=Звёздный],
.type-Звёздный + p {
	--type-color:#83CFC5;
	--cs-txt:#293D3B;
}


/* ==== Фанатское ==== */
/* ===== Ядерный тип ===== */
.Ядерный,
.type-Ядерный .pi-theme-Pokedex,
.type-Ядерный .pi-theme-Movedex,
.type2-Ядерный,
[title~=Ядерный],[title~=Ядерный],
.type-Ядерный + p {
	--type-color:#40BF40;
}

/* === Mbox / Информационный (взято с английской вики) === */
.mbox {
	--type-important:rgba(200, 0, 0, 0.8);
	--type-moderate:rgba(233, 124, 47, 0.8);
	--type-minor:rgba(241, 197, 37, 0.8);
	display:flex;
	position:relative;
	background-color:rgba(255, 255, 255, 0.7);
	border:1px solid #d6d6d6;
	border-left-width:8px;
	border-left-color:#d6d6d6;
	border-radius:var(--pokewiki-border-radius);
	margin-bottom:5px;
	min-height:32px;
}

.mbox.mbox-type-important {
	border-left-color:var(--type-important);
}

.mbox.mbox-type-moderate {
	border-left-color:var(--type-moderate);
}

.mbox.mbox-type-minor {
	border-left-color:var(--type-minor);
}

.mbox__content {
	display:table;
	box-sizing:border-box;
	width:100%;
	padding:8px 15px;
}

.mbox__content__image {
	display:table-cell;
	width:40px;
	height:100%;
	text-align:center;
	vertical-align:middle;
	padding-right:15px;
}

.mbox__content__wrapper {
	display:table-cell;
	vertical-align:middle;
}

.mbox__content__header {
	display:block;
	font-weight:bold;
}

.mbox__content__text {
	display:block;
}

.mbox__content__text__comment {
	font-size:small;
}

.mbox__content__aside {
	display:table-cell;
	width:100px;
	vertical-align:middle;
	text-align:center;
	padding-left:15px;
	border-left:1px solid #d6d6d6;
}

.mbox__close {
	position:absolute;
	right:0;
	top:0;
	padding:2px 7px;
	font-weight:bold;
	font-size:16px;
	color:#bbb;
	cursor:pointer;
	transition:all .15s ease-in;
}

.mbox__close:hover {
	color:#777;
}

.mbox__close:after {
	content:'×';
}

.mw-collapsed + .mbox__close {
	transform:rotate(45deg);
	padding:8px 7px 8px 2px;
}

.theme-fandomdesktop-dark .mbox {
	background-color:var(--theme-page-background-color--secondary);
	border-color:var(--theme-border-color);
}

/* === Шаблон:Администраторы === */
.admins {
	font-size:80%;
	display:flex;
	justify-content:center;
	margin:0.5em 0.1em;
}

.admin {
	display:grid;
	min-width:80px;
	border-radius:var(--pokewiki-border-radius);
	transition:.5s;
}

.admin img {
	border-radius:5em;
	padding:3px;
}

.admin:hover {
	background-color:var(--poke-full-light);
}

/* === Шаблон:Легендарные_и_мифические_покемоны === */
.poke-legends {
	font-size:80%;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	margin:0.5em 0.1em;
}

.lmpoke-collapsible-toggle .mw-collapsible-toggle {
	margin:-1px;
}

.lmpokemon {
	display:grid;
	min-width:80px;
	border-radius:var(--pokewiki-border-radius);
	transition:.5s;
}

.lmpokemon img {
	justify-self:center !important;
}

.lmpokemon:hover {
	background-color:var(--poke-full-light);
}

/* === Убирает кнопку редактирования раздела статьи на заглавной === */
.mainpage .mw-editsection {
	display:none;
}

/* === Reduced list === */
.reduced-list span.comment, .reduced-list .mw-newpages-length, .reduced-list .mw-userlink.userlink, .reduced-list .mw-usertoollinks{
	display:none;
}

/* === Admin Nav === */
.admins-nav th,
.admins-nav td > div {
	background:var(--poke-light);
	font-weight:500;
}

.admins-nav td > div {
	margin:-1px auto;
	width:90% !important;
	border-radius:var(--pokewiki-border-radius-top);
	padding:0 !important;
}

.admins-nav tr > .th {	
	background:none;
}

.admins-nav .tr-first th {
	border-radius:var(--pokewiki-border-radius) 0 0 0;
}

.admins-nav .tr-first td {
	border-radius:0 var(--pokewiki-border-radius) 0 0;
}

.admins-nav .tr-last th {
	border-radius:0 0 0 var(--pokewiki-border-radius);
}

.admins-nav .tr-last td {
	border-radius:0 0 var(--pokewiki-border-radius) 0;
}

.admins-nav td {
	background:var(--poke-full-light);
}

.theme-fandomdesktop-dark .admins-nav {
	--poke-light:rgb(38, 38, 38);
	--poke-full-light:rgb(38, 38, 38);
}

.theme-fandomdesktop-light .admins-nav {
	--poke-light:rgb(242, 242, 242);
	--poke-full-light:rgb(242, 242, 242);
}

/* === Утилиты инфобокса покемонов === */
.roundy {
	border-radius:var(--pokewiki-border-radius);
	-moz-border-radius:var(--pokewiki-border-radius);
	-webkit-border-radius:var(--pokewiki-border-radius);
	-khtml-border-radius:var(--pokewiki-border-radius);
	-icab-border-radius:var(--pokewiki-border-radius);
	-o-border-radius:var(--pokewiki-border-radius);
	color:#000;
}

.roundytop {
	border-radius:var(--pokewiki-border-radius);
	-moz-border-radius:var(--pokewiki-border-radius);
	-webkit-border-radius:var(--pokewiki-border-radius);
	-khtml-border-radius:var(--pokewiki-border-radius);
	-icab-border-radius:var(--pokewiki-border-radius);
	-o-border-radius:var(--pokewiki-border-radius);
}

.Pokedex .altforms img {
	width:80%;
	height:auto;
	margin-bottom:5px !important;
}

.Pokedex .evoline img {
	width:25%;
	height:25%;
}

/* === Временный инфобокс движений === */
.vnav.rbox.move_infobox {
	float:right;
	width:22em;
	background-color:rgba(var(--theme-accent-color--rgb), .1);
	border-radius:var(--pokewiki-border-radius);
	border:2px solid var(--theme-accent-color);
	box-shadow:0px 0px 2px 4px var(--theme-border-color);
	margin:5px;
	padding:3px;
	font-size:12px;
}

.vnav.rbox.move_infobox .title {
	background-color:rgba(var(--theme-accent-color--rgb), .4);
	color:#fff;
	font-weight:bold;
	text-align:center;
	text-shadow:0px 0px 0px rgba(0, 10, 41, 1);
	border-radius:var(--pokewiki-border-radius-top);
	padding:10px;
	margin-bottom:5px;
	font-size:18px;
}

.vnav.rbox.move_infobox .h.ctype {
	background-color:rgba(var(--theme-accent-color--rgb), .2);
	color:#fff;
	font-weight:bold;
	font-size:15px;
	text-align:center;
	padding:5px;
	border-radius:var(--pokewiki-border-radius);
	margin-top:10px;
}

.vnav.rbox.move_infobox .data.highlight {
	width:100%;
	border-collapse:collapse;
}

.vnav.rbox.move_infobox .data.highlight td,
.vnav.rbox.move_infobox .data.highlight th {
	padding:5px;
	vertical-align:top;
	text-align:left;
	border-bottom:1px solid rgba(var(--theme-page-text-color--rgb), 0.26);
}

.theme-fandomdesktop-dark .vnav.rbox.move_infobox .data.highlight tr:hover {
	background-color:rgba(0, 0, 0, 0.5);
}

.theme-fandomdesktop-light .vnav.rbox.move_infobox .data.highlight tr:hover {
	background-color:rgba(0, 0, 0, 0.1);
}

/* === Соперники === */
.mw-parser-output .partycontainer {
	display:table;
}

.mw-parser-output .partycaption {
	box-sizing:border-box;
	margin:2px auto 0 auto;
	padding:5px 0 0 0;
	text-align:center;
}

.mw-parser-output .partybox {
	border-radius:var(--pokewiki-border-radius);
	margin:5px 0;
	padding:8px;
	text-align:center;
}

.mw-parser-output .partytop {
	display:grid;
	grid-template-columns:1fr 60px;
	gap:10px;
}

.mw-parser-output .partygrid {
	display:grid;
	grid-template-columns:85px 175px 85px;
	gap:5px;
}

.mw-parser-output .partycenter {
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
}

.mw-parser-output .partytrainer {
	display:grid;
	grid-template-columns:85px 1fr;
	gap:5px;
}

.mw-parser-output .partycircle {
	border-radius:var(--pokewiki-border-radius);
	padding:5px;
	background:#FFF;
}

.mw-parser-output .partyimage {
	border-radius:var(--pokewiki-border-radius);
	width:75px;
	height:75px;
	background:#FFF;
	overflow:hidden;
}

.mw-parser-output .partydetails {
	border-radius:var(--pokewiki-border-radius);
	width:165px;
	padding:5px;
	margin:auto 0;
}

.mw-parser-output .partyclass {
	font-size:85%;
}

.mw-parser-output .partyname {
	color:#000;
	font-size:larger;
}

.mw-parser-output .partylocation {
	margin-top:5px;
}

.mw-parser-output .partygame {
	font-size:smaller;
}

.mw-parser-output .partyreward {
	color:#000;
	border-radius:var(--pokewiki-border-radius);
	padding:5px;
	line-height:15px;
	min-width:75px;
}

.mw-parser-output .partyballs {
	border-radius:var(--pokewiki-border-radius);
	width:100px;
	padding:2px;
	line-height:10px;
}

.mw-parser-output .partytoggle {
	transform:rotate(90deg);
	border-radius:var(--pokewiki-border-radius);
	padding:3px;
}

.mw-parser-output .partypokemon {
	margin-top:8px;
	padding:5px;
	width:auto;
	background:#FFF;
}

.mw-parser-output .partypokemondiv {
	padding:5px;
	width:auto;
	background:#FFF;
}

.mw-parser-output .partypokemongrid {
	display:grid;
	margin:auto;
}

.mw-parser-output .partypokemongrid2 {
	display:grid;
	margin:auto;
}

@media(max-width:850px) {
	.mw-parser-output .partypokemongrid {
		grid-template-columns:auto;
	}

	.mw-parser-output .partypokemongrid2 {
		grid-template-columns:auto;
	};
}

@media(min-width:851px) {
	.mw-parser-output .partydetails {
		width:190px;
	}

	.mw-parser-output .partypokemongrid {
		grid-template-columns:auto auto;
	}

	.mw-parser-output .partypokemongrid2 {
		grid-template-columns:auto auto;
	};
}

.mw-parser-output .partygridtemplate {
	display:grid;
	grid-template-columns:390px;
	gap:5px 0;
}

.mw-parser-output .PKMNcontainer {
	margin:5px;
}

.mw-parser-output .PKMNcaption {
	box-sizing:border-box;
	width:316px;
	padding:5px 0 2px 0;
	text-align:center;
	display:flex;
	justify-content:center;
}

.mw-parser-output .PKMNbox {
	display:flex;
	flex-flow:column;
	box-sizing:border-box;
	border-radius:var(--pokewiki-border-radius);
	width:316px;
	min-height:270px;
	padding:5px;
}

.mw-parser-output .PKMNcolumns {
	flex:1 1 auto;
	display:grid;
	grid-template-columns:1fr 1fr;
	gap:5px;
}

.mw-parser-output .PKMNleft {
	padding-left:2px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.mw-parser-output .PKMNartbox {
	border-radius:var(--pokewiki-border-radius);
	position:relative;
	margin:5px auto;
	width:110px;
	height:110px;
	padding:2px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.mw-parser-output .PKMNicon {
	filter:drop-shadow(-1px 1px white)drop-shadow(1px -1px white)drop-shadow(1px 1px white)drop-shadow(-1px -1px white);
}

.mw-parser-output .PKMNnamebox {
	box-sizing:border-box;
	border-radius:var(--pokewiki-border-radius);
	min-width:135px;
	padding:3px;
	margin-bottom:2px;
	line-height:120%;
	text-align:center;
}

.mw-parser-output .PKMNright {
	color:#000;
	padding-right:2px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
	line-height:12px;
}

.mw-parser-output .PKMNtypes {
	padding-bottom:5px;
}

.mw-parser-output .PKMNtypebox {
	border-radius:var(--pokewiki-border-radius);
	display:inline-block;
	padding:3px 5px;
	text-align:center;
	line-height:12px;
}

.mw-parser-output .PKMNability {
	text-align:center;
	line-height:normal;
}

.mw-parser-output .PKMNheld {
	text-align:center;
}

.mw-parser-output .PKMNeffortgrid {
	margin:2px auto;
	display:grid;
	grid-template-columns:68px 68px;
	gap:4px;
	grid-auto-rows:minmax(12px,auto);
}

.mw-parser-output .PKMNeffort {
	border-radius:var(--pokewiki-border-radius);
	padding-left:5px;
	text-align:left;
	font-size:90%;
	line-height:15px;
}

.mw-parser-output .PKMNmovegrid {
	flex:0 1 auto;
	margin:5px 2px 2px 2px;
	display:grid;
	grid-template-columns:1fr 1fr;
	gap:6px;
}

.mw-parser-output .PKMNmovebox {
	min-height:50px;
	border-radius:var(--pokewiki-border-radius);
	text-align:center;
	overflow:hidden;
	display:grid;
	grid-template-columns:1fr 1fr;
}

.mw-parser-output .PKMNmovename {
	grid-column:1/3;
}

.mw-parser-output .PKMNmovetype {
	position:relative;
	grid-row:2;
}

.mw-parser-output .PKMNmovemaster {
	position:absolute;
	right:-12px;
	top:-2px;
}

.mw-parser-output .PKMNplusmove {
	position:absolute;
	right:-10px;
	top:-1px;
	filter:drop-shadow(0 0 0.2em #666666);
}

.mw-parser-output .PKMNmovecat {
	border-left:2px solid #fff;
	grid-row:2;
	grid-column:2;
}

.mw-parser-output .PKMNmaxmove {
	padding:2px;
	font-size:90%;
	grid-row:3;
	grid-column:1/3;
}

.mw-parser-output .PKMNnone {
	display:none;
}

.mw-parser-output .PKMNshadow {
	background:#604E82;
}

.mw-parser-output .PKMNshadowl {
	background:#988CAE;
}

.mw-parser-output .PKMNshadowt {
	color:#FFF;
}

.mw-parser-output .PKMNshadowb {
	border:2px solid #604E82;
}

.mw-parser-output .PKMNwhite {
	background:#FFF;
}

.mw-parser-output .PKMNwhiteb {
	border:2px solid #FFF;
}

.mw-parser-output .PKMNmale {
	color:#34b4eb;
}

.mw-parser-output .PKMNfemale {
	color:#FF6060;
}

.mw-parser-output .PKMNline14 {
	line-height:14px;
}

.mw-parser-output .PKMNsmall {
	font-size:80%;
}

.mw-parser-output .PKMNlevel {
	color:#000;
	font-size:90%;
	white-space:nowrap;
}

.mw-parser-output .PKMNalpha {
	position:absolute;
	bottom:2px;
	left:2px;
}

.mw-parser-output .PKMNzpower {
	position:absolute;
	bottom:6px;
	left:4px;
}

.mw-parser-output .PKMNmega {
	position:absolute;
	bottom:5px;
	left:7px;
}

.mw-parser-output .PKMNmax {
	position:absolute;
	bottom:5px;
	left:3px;
}

.mw-parser-output .PKMNtera {
	position:absolute;
	bottom:4px;
	left:4px;
	filter:drop-shadow(0 0 0.2em #40B5A5);
}

.mw-parser-output .PKMNshiny {
	position:absolute;
	bottom:3px;
	right:3px;
}

.mw-parser-output .PKMNtypelabel {
	padding:2px 0 2px 0;
}

.mw-parser-output .PKMNlabel {
	padding:5px 0 2px 0;
}

.mw-parser-output .PKMNtype1 {
	background:none !important;
	margin:2px auto;
}

.mw-parser-output .PKMNtype2 {
	background:none !important;
	margin:2px auto 2px 4px;
}

.mw-parser-output .PKMNheld2 {
	padding-top:5px;
}

.mw-parser-output .PKMNhp {
	background:#69DC12;
}

.mw-parser-output .PKMNatt {
	background:#EFCC18;
}

.mw-parser-output .PKMNdef {
	background:#E86412;
}

.mw-parser-output .PKMNspe {
	background:#D51DAD;
	color:#FFF;
}

.mw-parser-output .PKMNspa {
	background:#14C3F1;
}

.mw-parser-output .PKMNspd {
	background:#4A6ADF;
	color:#FFF;
}

.mw-parser-output .PKMNpad2 {
	padding:2px;
}

.mw-parser-output .PKMNpad5 {
	padding:5px;
}

.mw-parser-output .PKMNmoveapp {
	grid-row:3;
	line-height:16px;
}

.mw-parser-output .PKMNmovejam {
	grid-row:3;
	grid-column:2;
	line-height:16px;
}

.mw-parser-output .PKMNgrid {
	display:grid;
	grid-template-columns:repeat(auto-fit,316px);
	gap:5px;
	margin:5px 0;
	align-items:end;
}