/* = CSS, используемый на большинстве википроектов Союза Интервикионалистических Википроектов = */
/* == Импорты == */
/* === Highlight: Подсветка ников участников с глобальными статусами === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:Highlight.css&only=styles";

/* === InterlanguageFlags: Добавляет флаги в интервики === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:InterlanguageFlags.css&only=styles";

/* === BringExternalLinkIconsBack: Возвращает индикацию внешних ссылок === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:BringExternalLinkIconsBack.css&only=styles";

/* === Antiborder: Удаляет множество рамок === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:Antiborder.css&only=styles";

/* === BalancedBloglists: Улучшает дизайн блогов === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:BalancedBloglists.css&only=styles";

/* === LocalNavExploreIcons: Добавляет иконки в меню «Исследовать» локальной навигации вики === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:LocalNavExploreIcons.css&only=styles";

/* === Fanimp: Улучшает некоторые моменты в стилях Фэндома === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:Fanimp.css&only=styles";

/* === SpoilerBlur: Скрипт на замазывания текста === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:SpoilerBlur.css&only=styles";
/* ==== Использование: ==== */
/* ===== <span class="spoilerblur">Текст, который нужно замазать</span> ===== */

/* === BalancedSlider: Улучшает дизайн слайдера === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:BalancedSlider.css&only=styles";

/* === BalancedPagebottom:Улучшает дизайн интервики и категорий === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:BalancedPageBottom.css&only=styles";

/* === BalancedSearch: Улучшает дизайн поиска === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:BalancedSearch.css&only=styles";

/* === BalancedCategories: Улучшает вид страниц категорий === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:BalancedCategories.css&only=styles";

/* === NewPagesModule: Исправляет отображение списка новых статей === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:NewPagesModule.css&only=styles";

/* === UWAnimation: Делает открытие списков в навигации более плавным === */
@import "/load.php?mode=articles&articles=u:dev:MediaWiki:UWAnimation.css&only=styles";

/* == Ручное оформление == */
/* === Удаление иконок === */
/* ==== Большая часть блоков в рельсе ==== */
.rail-module__header .wds-icon {
    display:none;
}

/* ==== Новые изображения, рельса ==== */
.rail-module h2.has-icon svg {
	display:none;
}

/* ==== Содержание, статья ==== */
.toc .toctitle h2 .wds-icon + .wds-icon {
  display:none;
}

/* ==== Последние заработанные значки, таблица лидеров по достижениям ==== */
.WikiaRail .achievements-title:before {
    display:none;
}

/* ==== Таблица лидеров по достижениям ==== */
.LeaderboardTable th:before {
    display:none;
}

/* == Инфобоксы == */
/* === Горизонтальный макет для групп === */
/* ==== Чтоб текст по горизонтали был слева ==== */
.pi-horizontal-group .pi-horizontal-group-item {
    text-align:left;
    padding:6px;
}

/* ==== Чтоб текст по вертикали был вверху ==== */
.pi-horizontal-group .pi-horizontal-group-item {
    vertical-align:top;
}

/* === Расширерение инфобокса === */
.portable-infobox {
	width:290px;
}

/* === Заглавная === */
/* ==== Скрывает категории на заглавной странице ==== */
.mainpage .article-categories, .mainpage .page-footer__categories {
    display:none;
}

/* ==== Переводит таббы в таббере в центр ==== */
.mainpage .tabber .wds-tabs {
    justify-content:center;
}

/* ==== Отключение рамок изображений в галерее ==== */
.gallery-image-wrapper {
    border:none !important;
}

/* ==== Скрывает "Содержание" ==== */
.mainpage .toc {
    display:none;
}

/* ==== Скрывает отображение пунктира в abbr title ==== */
.mainpage abbr {
	display:contents;
}

/* === Подстветка синтаксисов (изменённый скрипт SolarizedSyntaxHighlight) === */
.page pre {
	border:2px solid #0004;
	padding:8px 12px;
	max-width:100%;
	line-height:1.2em;
	-webkit-overflow-scrolling: touch;
}

.page .mw-highlight pre {
	color:#839496;
}

.theme-fandomdesktop-light .mw-highlight pre {
	background-color:#ffffff;
}

.theme-fandomdesktop-dark .mw-highlight pre {
	background-color:#2f2f2f;
}

/* ==== SYNTAX HIGHLIGHTING ==== */
/* ===== HTML & CSS ===== */
.mediawiki .mw-highlight .p  {color:#93a1a1;} /* punctuation CSS . # : { : ; } ( , ) HTML < / >          */
.mediawiki .mw-highlight .o  {color:#93a1a1;} /* punctuation CSS -- ( : ) [ = ] HTML =                   */
.mediawiki .mw-highlight .c  {color:#586e75;font-style:italic;} /* HTML/CSS comment                      */
.mediawiki .mw-highlight .cp {color:#dc322f;} /* CSS !important  HTML <!DOCTYPE>                         */
.mediawiki .mw-highlight .nt {color:#268bd2;font-weight:bold;} /* html tag name (body, div), after @-rule*/

/* ===== HTML ===== */
.mediawiki .mw-highlight .na {color:#6c71c4;} /* attribute (id, class,...)    */
.mediawiki .mw-highlight .s  {color:#2aa198;} /* attribute "value"            */
.mediawiki .mw-highlight .ni {color:#b58900;} /* special character (&...;)    */

/* ===== CSS ===== */
.mediawiki .mw-highlight .n  {color:#93a1a1;} /* unrecognized syntax          */
.mediawiki .mw-highlight .nn {color:#d33682;text-shadow:0 0 #d33682;} /* id   */
.mediawiki .mw-highlight .nc {color:#6c71c4;} /* class                        */
.mediawiki .mw-highlight .nd {color:#268bd2;} /* pseudo-class (hover, before) */
.mediawiki .mw-highlight .nb {color:#2aa198;} /* text value (solid, hidden)   */
.mediawiki .mw-highlight .kc {color:#2aa198;} /* text value (rgba, hsl, url)  */
.mediawiki .mw-highlight .k  {color:#859900;} /* propertie, @-rule (@media)   */
.mediawiki .mw-highlight .kp {color:#859900;font-style:italic;} /* -webkit-   */
.mediawiki .mw-highlight .kp+.k {font-style:italic;} /* webkit propertie      */
.mediawiki .mw-highlight .mh {color:#d33682;} /* hex color (#..)              */
.mediawiki .mw-highlight .mi {color:#b58900;} /* numeric values               */
.mediawiki .mw-highlight .mf {color:#d33682;} /* decimal numeric values (0.5) */
.mediawiki .mw-highlight .kt {color:#b58900;} /* size unit (px, in)           */
.mediawiki .mw-highlight .s2 {color:#cb4b16;} /* [...="value"]                */
.mediawiki .mw-highlight .sx {color:#cb4b16;font-style:italic;} /* media link */
.mediawiki .mw-highlight .nf {color:#cb4b16;font-weight:bold;} /* --var       */

/* === Цвет нумерации строк кода при просмотре вне редактора кода === */
.theme-fandomdesktop-dark .mw-content-ltr.mw-highlight-lines pre, .mw-content-ltr.content .mw-highlight-lines pre {
	padding-left:3.5em;
	box-shadow: inset 2.75em 0 0 #232323;
}

/* === Скроллбар (полоса прокрутки. Изменённый скрипт BalancedScrollbar) === */
::-webkit-scrollbar {
  width:10px;
}

::-webkit-scrollbar-track {
  background:var(--theme-page-background-color--secondary);
}

::-webkit-scrollbar-thumb {
  background:var(--theme-accent-color);
}

::-webkit-scrollbar-thumb:hover {
  background:var(--theme-accent-color);
}

/* ==== Firefox ==== */
:root {
  scrollbar-color:var(--theme-accent-color) var(--theme-page-background-color--secondary);
  scrollbar-width:thin;
}

/* === Рельса === */
/* ==== Изменяет цвет фона блоков в рельсе ==== */
.rail-module, .AchievementsModule {
    background-color:var(--theme-page-background-color);
    border-radius:8px;
    padding:5px;
}

/* ==== Отступ между блоками достижений ==== */
.AchievementsModule {
    margin-top:20px;
}

/* ==== Изменяет вид ссылок в рельсе (взято из BalancedUCX) ==== */
.mw-parser-output a, .right-rail-wrapper a {
    font-weight:500;
}

/* ==== Исправляет отступ от заголовков в рельсе ==== */
.rail-module h2, .rail-module__header {
    margin-bottom:5px;
}

/* ==== Уменьшает отступ от верха рельсы ==== */
.right-rail-wrapper {
    margin-top:-20px;
}

/* ==== Делает текст "Вы можете заработать ещё больше значков!" нормального размера ==== */
.skin-fandomdesktop .UserProfileAchievementsModule .badges-profile-title, .skin-fandomdesktop .UserProfileAchievementsModule .title-challeneges {
    font-size: 16px;
}

/* === Навигация === */
/* ==== Название вики (взято из BalancedUCX) ==== */
.fandom-community-header__community-name {
    font-size:28px;
    font-weight:600;
}

/* === Увеличивает заголовки и уменьшает нижний отступ в категориях и интервиках (изменение для скрипта BalancedPageBottom) === */
.wds-collapsible-panel__header {
    font-size:15px !important;
}

#articleCategories .container, #articleCategories .toolbar, #articleCategories li {
    margin-bottom:-10px;
}

#articleCategories {
    margin-bottom:-10px;
}

.page-footer__languages .wds-collapsible-panel__content {
    margin-bottom:-10px;
}

/* === Уменьшает отступы от расширенного поиска (изменение для скрипта BalancedSearch) === */
.unified-search__layout__main {
    margin-top:-10px;
}

.unified-search__layout__right-rail {
    margin-top:-10px;
}

/* === Профайл (изменённый скрипт AdaptiveProfile) === */
/* ==== Баннер ==== */
.skin-fandomdesktop #userProfileApp {
	--banner-image: url('');
	--banner-pos: center;
	--banner-ratio: ;
	--width-padding: 186px;
	margin: -24px -36px 12px -36px !important;
}

/* ==== Для UWStyle ==== */
#userProfileApp .user-identity-box,
#userProfileApp .user-identity-header__actions button {
	margin: 0;
}

/* ==== Аватар ==== */
body.skin-fandomdesktop #userProfileApp .user-identity-avatar {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 140px;
	padding: 18px 0 0 28px;
	width: 140px;
	z-index: 1;
}

#userProfileApp .user-identity-avatar__image {
	border: solid 2px var(--theme-accent-color) !important;
	-webkit-box-shadow: 0 0 10px rgb(0 0 0 / 50%);
	-moz-box-shadow: 0 0 10px rgb(0 0 0 / 50%);
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

/* ==== Локальный аватар ==== */
body .user-identity-avatar:before {
	background-image: var(--wiki-avatar);
	background-position: center top;
	background-size: auto 100%;
	border-radius: 50%;
	content: '';
	height: 138px;
	margin: 2px 0 0 2px;
	position: absolute;
	width: 138px;
}

/* ==== Заголовок ==== */
body.skin-fandomdesktop #userProfileApp .user-identity-header {
	background: var(--theme-accent-color);
	left: calc(var(--width-padding)*-1);
	min-height: 37px;
	padding-left: var(--width-padding);
	position: relative;
	width: calc(100% + var(--width-padding));
}

#userProfileApp .user-identity-header :is(h1,h2) {
	color: var(--theme-accent-label-color);
}

#userProfileApp .user-identity-header__attributes,
#userProfileApp .user-identity-header__action {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	grid-row-gap: 5px;
}

body.skin-fandomdesktop #userProfileApp .user-identity-header__tag {
	background-color: var(--theme-accent-color--hover);
	color: var(--theme-accent-label-color);
	margin: 6px 12px 6px 0 !important;
}

/* ==== Навигация ==== */
#userProfileApp .user-profile-navigation {
	justify-content: center;
}

/* ==== Редактор профайла ==== */
#userProfileApp .user-identity-header__actions {
	align-items: center;
	display: flex;
}

body.skin-fandomdesktop #userProfileApp .user-identity-header__actions .wds-button,
.modal-wrapper__header .modal-wrapper__cta-button {
	border: none;
	border-radius: 18px;
	margin-right: 1em;
	color: rgb(var(--theme-accent-dynamic-color-2--rgb),.5);
	padding: .4em .8em;
}

body.skin-fandomdesktop #userProfileApp .user-identity-header__actions .wds-button:hover,
.modal-wrapper__header .modal-wrapper__cta-button:hover,
.modal-wrapper__header .wds-is-square:hover {
	background-color: rgba(var(--theme-link-color--rgb),.3);
	color: var(--theme-page-accent-mix-color) !important;
}

/* ==== Адаптация для мобильных устройств ==== */
@media (max-width: 713px) {
	.user-profile-navigation {
		overflow-x: scroll; white-space: nowrap;
	}
	.user-profile-navigation__link {
		width: auto !important;
	}
	.user-identity-header {
		flex-direction: column;
	}
	.user-identity-box {
		flex-direction: column;
	}
	.user-identity-avatar {
		margin: 10px auto !important;
		padding: 0 !important;
	}
	.user-identity-header {
		align-items: center;
		left: 0 !important;
		gap: 0px !important;
		padding-left: 0px !important;
		width: 100% !important;
	}
	.user-identity-box__info {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.user-identity-box__info > :is(ul,div:not(.user-identity-header)) {
		margin: 0 0 0 20px !important;
	}
}

/* ==== Баннер ==== */
#userProfileApp:before {
	background: lightgreen;
	background-image: var(--banner-image);
	background-position: var(--banner-pos);
	background-size: cover;
	content: '';
	display: block;
	padding-bottom: var(--banner-ratio);
	width: 100%;
}

/* ==== Навигация ==== */
#userProfileApp .user-profile-navigation {
	justify-content: center;
}

/* === Интервики === */
/* ==== Оформление (взято из BalancedUCX) ==== */
.page-header__languages .wds-dropdown__toggle,
.page-header__variants .wds-dropdown__toggle {
    transition-duration: .3s !important;
	color:var(--theme-link-color) !important;
	text-transform:uppercase !important;
    font-family:inherit !important;
    font-size:12px !important;
    font-weight:600 !important;
    letter-spacing:.15px !important;
    line-height:16px !important;
}

.page-header__languages svg,
.page-header__variants svg {
	display:none !important;
}

/* ==== Исправление флагов в интервиках (сделано из InterlanguageFlags) ==== */
/* ===== ru (Русский) ===== */
.interwiki-ru::before,
.page-header__languages ul li a:is([data-tracking-label="lang-ru"], [data-tracking-label="lang-ru-GP"], [data-tracking-label="lang-ru-FD"])::before,
.page-footer__languages a:is([data-tracking-label="lang-ru"], [data-tracking-label="lang-ru-GP"], [data-tracking-label="lang-ru-FD"])::before {
	content: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/White-blue-white_flag.svg/20px-White-blue-white_flag.svg.png") !important;
	padding-right: 8px;
}

/* === Исправление ссылок (взято из BalancedUCX) === */
a {
	text-decoration:none !important;
}

/* === Увеличивает максимальную ширину контента навигации === */
.fandom-community-header__local-navigation .wds-dropdown__content {
    max-width:250px;
}
