/* == Импорты == */
/* === Dev Wiki === */
@import url("/load.php?mode=articles&only=styles&articles=u:dev:MediaWiki:BalancedSearch.css|u:dev:MediaWiki:UWAnimation.css|u:dev:MediaWiki:LocalNavExploreIcons.css|u:dev:MediaWiki:InterlanguageFlags.css|u:dev:MediaWiki:AjaxPoll.Discussions.css|u:dev:MediaWiki:BalancedCategories.css|u:dev:MediaWiki:BalancedPageBottom.css|u:dev:MediaWiki:AccentColorButtons.css|u:dev:MediaWiki:NewPagesModule.css");

/* === Локальные импорты === */
/* ==== Оформление участников (цвет ника, локальные аватары и баннеры) ==== */
@import url("//pokemon.fandom.com/ru/load.php?mode=articles&articles=MediaWiki:Users.css&only=styles");

/* ==== Шаблоны ==== */
@import url("//pokemon.fandom.com/ru/load.php?mode=articles&articles=MediaWiki:Templates.css&only=styles");

/* == Оформление вики (во многом подобрано под английский аналог вики) == */
/* === Общее === */
/* ==== Фон вики ==== */
.theme-fandomdesktop-dark .fandom-community-header__background {
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
        ),
        var(--theme-body-background-image);
}

.theme-fandomdesktop-dark {
    --theme-body-background-image:url(https://static.wikia.nocookie.net/pokemon/images/0/08/Site-background-dark/revision/latest?cb=20240420214522) !important;
}

.theme-fandomdesktop-light {
    --theme-body-background-image:url(https://static.wikia.nocookie.net/pokemon/images/b/b5/Site-background-light/revision/latest?cb=20240420214540) !important;
}

/* ==== Локальная навигация ==== */
.fandom-community-header__image img {
    transition:transform .3s ease-in-out;
	filter:drop-shadow(0px 0px 0.1px #fff);
}

.fandom-community-header__image img:hover {
    transform:scale(1.1);
}

.theme-fandomdesktop-light {
	--theme-sticky-nav-text-color:var(--theme-accent-label-color);
}

/* ==== Прозрачный фон статьи и рельсы ==== */
.page__main {
	background-color:rgba(var(--theme-page-background-color--rgb),0.9);
}

.page__right-rail {
	background-color:rgba(var(--theme-page-background-color--secondary--rgb),0.9);
}

.rail-module, .AchievementsModule {
	background-color:rgba(var(--theme-page-background-color--rgb),0.8) !important;
}

/* ==== Рельса ==== */
.rail-module, .AchievementsModule {
    background-color:#F9F9F9;
    padding:1em;
}

.theme-fandomdesktop-dark .rail-module, .theme-fandomdesktop-dark .AchievementsModule {
    background-color:#3E3D3D;
}

/* ===== Блок «RecentImages» в рельсе (взято с Honkai꞉ Star Rail Вики) ===== */
.recentImage__details-title {
    color:var(--theme-page-dynamic-color-2) !important;
}

.recentImages__title {
	background-image:none !important;
}

.recentImages__title::before {
	content:"";
    position:absolute;
	display:inline-block;
	width:14.8em;
	height:125%;
	top:-2px;
	left:0;
	background-image:-webkit-gradient(linear,left bottom,left top,color-stop(54%,var(--wds-midlight-color,rgba(var(--theme-accent-color--rgba),.15))),color-stop(54%,transparent),to(transparent));
    background-image:linear-gradient(to top,var(--wds-midlight-color),rgba(var(--theme-accent-color--rgb),.15) 54%,transparent 54%,transparent 100%);
	box-decoration-break:clone;
	-webkit-box-decoration-break:clone;
}

.recentImages__title::after {
	content:"Последние изображения";
    position:absolute;
	width:max-content;
	top:0;
	left:26px;
}

.recentImages__title span {
	display:none;
}

/* ===== Блок «Недавняя вики-деятельность» в рельсе ===== */
#wikia-recent-activity #seemoreactivity-button {
    display:none;
}

/* ==== Кастомизация полосы прокрутки ==== */
/* ===== Браузеры на движке Webkit ===== */
::-webkit-scrollbar {
    width:13px;
}

::-webkit-scrollbar-track {
    background:var(--theme-background-color);
}

::-webkit-scrollbar-thumb {
    background:var(--theme-link-color);
    border-radius:2px;
}

::-webkit-scrollbar-thumb:hover {
    background:var(--theme-link-color--hover);
}

/* ===== Firefox ===== */
:root {
    scrollbar-color:var(--theme-link-color) var(--theme-background-color);
    scrollbar-width:auto;
}

/* ==== Исправляет отступ от заголовков в рельсе ==== */
.rail-module h2, .rail-module__header {
    margin-bottom:5px;
}

/* ==== Accent label color ==== */
body.skin-fandomdesktop {
    --theme-accent-label-color:#fff;
}

/* ==== Фикс заголовков ==== */
.page-content h2 {
    overflow:hidden;
}

/* ==== Флаги в интервиках ==== */
.page-footer__languages a::before {
    height:20px !important;
    vertical-align:middle;
}

.interwiki-en::before,
:is(.page-header__languages ul li, .page-footer__languages) a[data-tracking-label^="lang-de"]::before {
	background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flag_of_Germany.svg/20px-Flag_of_Germany.svg.png);
}

.interwiki-en::before,
:is(.page-header__languages ul li, .page-footer__languages) a[data-tracking-label^="lang-en"]::before {
	background-image:url(https://upload.wikimedia.org/wikipedia/commons/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg);
}

.interwiki-es::before,
:is(.page-header__languages ul li, .page-footer__languages) a[data-tracking-label^="lang-es"]::before {
	background-image:url(https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg);
}

.interwiki-fr::before,
:is(.page-header__languages ul li, .page-footer__languages) a[data-tracking-label^="lang-fr"]::before {
	background-image:url(https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg);
}

/* ==== Блоги ==== */
.page-header__subtitle-blog-post .wds-avatar__image {
    margin-top:5px;
}

/* ==== Голосования ==== */
.theme-fandomdesktop-light .d-poll__answerBar > div {
	--theme-page-background-color--secondary:#dfdfdf;
}

/* === Заглавная страниа === */
/* ==== Отключает предпросмотр страницы при наведении на ссылку ==== */
.mainpage .npage-preview, .mainpage .npage-preview div, .mainpage .npage-preview img, .mainpage .npage-preview-noimage {
    display:none;
    border:0px solid var(--theme-border-color) !important;
}

/* === Профайлы (автор оригинального скрипта AdaptiveProfile꞉ Dr.Bryan) === */
/* ==== Общая часть ==== */
.skin-fandomdesktop #userProfileApp {
	--banner-image:url('');
	--banner-pos:center;
	--banner-ratio:;
	--width-padding:186px;
	margin:-24px -36px 12px -36px !important;
}

#userProfileApp .user-identity-box,
#userProfileApp .user-identity-header__actions button {
	margin:0;
}

/* ==== Баннер ==== */
#userProfileApp:before {
	background:lightgreen;
	background-image:var(--banner-image);
	background-position:var(--banner-pos);
	background-size:cover;
	content:'';
	display:block;
	padding-bottom:var(--banner-ratio);
	width:100%;
}

/* ==== Заголовок ==== */
body.skin-fandomdesktop #userProfileApp .user-identity-header {
	background:var(--theme-accent-color);
	left:calc(var(--width-padding)*-1);
	min-height:37px;
	padding-left:var(--width-padding);
	position:relative;
	width:calc(100% + var(--width-padding));
}

#userProfileApp .user-identity-header :is(h1,h2) {
	color:var(--theme-accent-label-color);
}

#userProfileApp .user-identity-header__attributes,
#userProfileApp .user-identity-header__action {
	align-items:center;
	display:flex;
	flex-wrap:wrap;
	grid-row-gap:5px;
}

body.skin-fandomdesktop #userProfileApp .user-identity-header__tag {
	background-color:rgb(var(--theme-page-background-color--rgb),0.3);
	color:var(--theme-accent-label-color);
	margin:6px 12px 6px 0 !important;
}

/* ===== Кнопка в заголовке ===== */
#userProfileApp .user-identity-header__actions {
	align-items:center;
	display:flex;
}

body.skin-fandomdesktop #userProfileApp .user-identity-header__actions .wds-button,
.modal-wrapper__header .modal-wrapper__cta-button {
	border:none;
	border-radius:10px;
	margin-right:1em;
	color:rgb(var(--theme-accent-dynamic-color-2--rgb),.9);
	padding:.4em .8em;
}

body.skin-fandomdesktop #userProfileApp .user-identity-header__actions .wds-button:hover,
.modal-wrapper__header .modal-wrapper__cta-button:hover,
.modal-wrapper__header .wds-is-square:hover {
	background-color:var(--theme-link-color--hover);
}

/* ==== Аватар ==== */
body.skin-fandomdesktop #userProfileApp .user-identity-avatar {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	height:140px;
	padding:18px 0 0 28px;
	width:140px;
	z-index:1;
}

#userProfileApp .user-identity-avatar__image {
	border:solid 2px var(--theme-accent-color) !important;
	-webkit-box-shadow:0 0 10px rgb(0 0 0 / 50%);
	-moz-box-shadow:0 0 10px rgb(0 0 0 / 50%);
	box-shadow:0 0 10px rgb(0 0 0 / 50%);
}

/* ===== Локальный аватар ===== */
body .user-identity-avatar:before {
	background-image:var(--wiki-avatar);
	background-position:center top;
	background-size:auto 100%;
	border-radius:50%;
	content:'';
	height:138px;
	margin:2px 0 0 2px;
	position:absolute;
	width:138px;
}

/* ==== Навигация ==== */
#userProfileApp .user-profile-navigation {
    justify-content:space-around;
    background-color:var(--theme-background-color);
    border-radius:10px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    padding-top:6px;
}

body.skin-fandomdesktop #userProfileApp .user-profile-navigation__link {
    font-size:16px;
    font-weight:500;
    letter-spacing:1px;
    padding:15px;
    color:var(--theme-link-color);
    text-transform:uppercase;
}

#userProfileApp .user-profile-navigation__link {
	padding:0 !important;
	text-align:center !important;
	-webkit-transition:.2s;
    -moz-transition:.2s;
    -o-transition:.2s;
    transition:all .3s ease;
}

#userProfileApp .user-profile-navigation__link:hover {
    border-bottom:4px solid;
    transform:scale(1.1);
    opacity:1;
}

#userProfileApp .user-profile-navigation__link a {
	color:var(--theme-link-color) !important;
	display:block;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:none;
}

#userProfileApp .user-profile-navigation__link.is-active {
	border-bottom:4px solid var(--theme-link-color);
    opacity:1;
    transform:scale(1.1);
}

#userProfileApp .user-profile-navigation__link.is-active a {
	color:var(--theme-link-color);
}

#userProfileApp .user-profile-navigation__link:not(.is-active):hover {
	border-bottom-color:var(--theme-link-color) !important;
	opacity:1;
	-webkit-transition:.2s;
    -moz-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
}

/* ==== Редактирование профайла ==== */
#userProfileApp .modal-wrapper__main {
	padding:0 !important;
}

.modal-wrapper__header {
	background:var(--theme-accent-color);
	color:var(--theme-accent-label-color) !important;
	margin-bottom:-37px !important;
	padding:0 0 0 20px !important;
}

.modal-wrapper__header h3 {display:none;}
.modal-wrapper__header .wds-is-square {
	border-radius:18px;
	color:var(--theme-page-accent-mix-color);
}

.modal-wrapper__header .modal-wrapper__cta-button,
.modal-wrapper__header .wds-is-square {
	position:relative;
	z-index:2;
}

.theme-fandomdesktop-dark :is(.modal-wrapper__header .modal-wrapper__cta-button,
.modal-wrapper__header .wds-is-square) {
	color:rgb(var(--theme-accent-dynamic-color-2--rgb),.9);
}

.wds-input.user-profile-editor__bio-field #wds_input_8 {
    min-height:60px;
}

/* ===== Текстовая форма ===== */
.user-profile-editor__form h1 {
	color:var(--theme-accent-label-color);
	line-height:normal;
}

.user-profile-editor__form {
	margin-top:2px;
}

.user-profile-editor__form .wds-fieldset {
	padding-top:0;
}

.user-identity-avatar__actions {
	border-radius:50%;
	-webkit-box-shadow:0 0 10px rgb(0 0 0 / 50%);
	-moz-box-shadow:0 0 10px rgb(0 0 0 / 50%);
	box-shadow:0 0 10px rgb(0 0 0 / 50%);
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
}

.user-identity-avatar__actions svg {
	color:var(--theme-link-color);
	-webkit-transition:color .3s;
	-moz-transition:color .3s;
	-o-transition:color .3s;
	transition:color .3s;
}

.user-identity-avatar__actions:hover svg {
	color:var(--theme-link-color--hover);
}

@media (min-width:1084px) {
	.user-identity-avatar__actions {
		opacity:.4;
	}
}

.user-identity-avatar:hover .user-identity-avatar__actions {
	opacity:1;
}

/* ==== Адаптация для мобильных устройств ==== */
@media (max-width:713px) {
	.user-profile-navigation {
		overflow-x:scroll; white-space:nowrap;
	}
	.user-profile-navigation__link {
		width:auto !important;
	}
	.user-identity-header {
		flex-direction:column;
	}
	.user-identity-box {
		flex-direction:column;
	}
	.user-identity-avatar {
		margin:10px auto !important;
		padding:0 !important;
	}
	.user-identity-header {
		align-items:center;
		left:0 !important;
		gap:0px !important;
		padding-left:0px !important;
		width:100% !important;
	}
	.user-identity-box__info {
		display:flex;
		flex-direction:column;
		gap:10px;
	}
	.user-identity-box__info > :is(ul,div:not(.user-identity-header)) {
		margin:0 0 0 20px !important;
	}
}

/* ==== Блок медалей ==== */
.badgetooltipwindow {
    color:var(--theme-page-text-color) !important;
    border:solid 1px var(--theme-accent-color) !important;
    background-color:var(--theme-page-background-color--secondary) !important;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
	font-size:12px;
    line-height:1.3;
}

.badgetooltiparrow {
    border-bottom:var(--theme-accent-color) solid 7px !important;
}

/* ==== Фикс блоков достижений ==== */
.AchievementsModule {
    margin-top:20px;
}

.skin-fandomdesktop .UserProfileAchievementsModule .badges-profile-title, .skin-fandomdesktop .UserProfileAchievementsModule .title-challeneges {
    font-size:16px;
}

.badges li:has(.badge-icon:hover) .profile-hover {
	display:block;
	z-index:1;
	pointer-events:none;
}

.rail-module {
	overflow:visible;
}

/* === Страницы кода === */
.theme-fandomdesktop-dark .mw-content-ltr.mw-highlight-lines pre {
    box-shadow:inset 2.75em 0 0 #232323;
}

.theme-fandomdesktop-light .mw-content-ltr.mw-highlight-lines pre {
    box-shadow:inset 2.75em 0 0 #ebebeb;
}

.page-content pre {
    border:0px;
    border-radius:5px;
}

.theme-fandomdesktop-dark pre {
    background-color:#141414;
}
